[main]
UPLOAD_FOLDER = "images"
VERIFICATIONS = "verifications"
SQLALCHEMY_ECHO = false
BADGE_IMAGE_DIR = "badge_images"
CAROUSEL_IMAGES_DIR = "carousel_images"
TASKCSV = "csv"

[encryption]
DEFAULT_SUPER_ADMIN_PASSWORD = ""
DEFAULT_SUPER_ADMIN_USERNAME = ""
DEFAULT_SUPER_ADMIN_EMAIL = ""
SECRET_KEY = ""
SESSION_COOKIE_SECURE = true
SESSION_COOKIE_NAME = "QuestsByCycles_Session"
SESSION_COOKIE_SAMESITE = "Lax"
SESSION_COOKIE_DOMAIN = false
SESSION_REFRESH_EACH_REQUEST = true
REMEMBER_COOKIE_DURATION_DAYS = 7

[openai]
OPENAI_API_KEY = ""

[flask]
SQLALCHEMY_DATABASE_URI = "postgresql://username:password@localhost/databasename"
DEBUG = true

[mail]
MAIL_SERVER = "smtp.gmail.com"
MAIL_PORT = 587
MAIL_USE_TLS = true
MAIL_USE_SSL = false
MAIL_USERNAME = ""
MAIL_PASSWORD = ""
MAIL_DEFAULT_SENDER = ""

[social]
twitter_username = ""
twitter_api_key = ""
twitter_api_secret = ""
twitter_access_token = ""
twitter_access_token_secret = ""
facebook_app_id = ""
facebook_app_secret = ""
facebook_access_token = ""
facebook_page_id = ""
instagram_access_token = ""
instagram_user_id = ""

[socketio]
SERVER_URL = "ws://127.0.0.1:5000"