flask==3.0.0
Flask-WTF==1.2.0
flask_sqlalchemy==3.1.1
flask_login==0.6.3
Flask-Migrate==3.1.0
WTForms==3.1.1
toml~=0.10.2
cryptography~=41.0.7
werkzeug~=3.0.1
email-validator==1.2.1
SQLAlchemy~=2.0.22
qrcode==7.4.2
psycopg2-binary==2.9.9
gunicorn==21.2.0
qrcode[pil]==7.4.2
tweepy==4.14.0
flask-mail==0.9.1
PyJWT==2.8.0