<!-- app/templates/modals/generate_AI_quest_modal.html -->
<div id="generateAIQuestModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="generateAIQuestModalLabel">Create Quest</h5>
            <button type="button" class="btn-close" aria-label="Close" onclick="closeQuestDetailModal()"></button>
        </div>
        
    
        <div class="modal-body" id="generatedQuestContent">
            <!-- The content from generated_quest.html will be injected here -->
        </div>
    </div>
</div>