<!-- app/templates/modals/generate_AI_task_modal.html -->
<div id="generateAITaskModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="generateAITaskModalLabel">Create Task</h5>
            <button type="button" class="btn-close" aria-label="Close" onclick="closeTaskDetailModal()"></button>
        </div>
        
    
        <div class="modal-body" id="generatedTaskContent">
            <!-- The content from generated_task.html will be injected here -->
        </div>
    </div>
</div>