<!-- app/templates/modals/register_modal.html -->
<div id="registerModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Register</h5>
            <button type="button" class="btn-close" aria-label="Close" onclick="closeRegisterModal()"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{{ url_for('auth.register', game_id=request.args.get('game_id'), quest_id=request.args.get('quest_id'), next=request.args.get('next')) }}">
                {{ register_form.hidden_tag() }}
                <div class="form-group">
                    {{ register_form.email.label }}
                    {{ register_form.email(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.password.label }}
                    {{ register_form.password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.confirm_password.label }}
                    {{ register_form.confirm_password(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ register_form.accept_license() }} {{ register_form.accept_license.label }}
                    <a href="{{ url_for('auth.terms_of_service') }}">Terms of Service</a> and 
                    <a href="{{ url_for('auth.privacy_policy') }}">Privacy Policy</a>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
