<div id="sponsorsModal" class="modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sponsorsModalLabel">Sponsors</h5>
                <span class="close-button" onclick="closeSponsorsModal()">&times;</span>
            </div>
            <div class="modal-body">
                <input type="hidden" class="game-id" value="">
                {% if current_user.is_admin %}
                    <a href="{{ url_for('admin.manage_sponsors', game_id=game.id) }}" class="btn btn-primary">Manage Sponsors</a>
                {% endif %}
                <div class="row">
                    {% for sponsor in game.sponsors %}
                        {% if sponsor.tier == 'Gold' %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-lg border-warning">
                                    <div class="card-header bg-warning text-dark text-center">
                                        <h3 class="card-title font-weight-bold">{{ sponsor.name }}</h3>
                                    </div>
                                    <img class="card-img-top" src="{{ sponsor.logo }}" alt="{{ sponsor.name }} logo">
                                    <div class="card-body bg-light">
                                        <p class="card-text">{{ sponsor.description | safe }}</p>
                                        <p class="card-text"><strong>Tier:</strong> {{ sponsor.tier }}</p>
                                        {% if sponsor.website %}
                                            <a href="{{ sponsor.website }}" class="btn btn-warning" target="_blank">Visit Website</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% elif sponsor.tier == 'Silver' %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow border-secondary">
                                    <div class="card-header bg-secondary text-white text-center">
                                        <h3 class="card-title font-weight-bold">{{ sponsor.name }}</h3>
                                    </div>
                                    <img class="card-img-top" src="{{ sponsor.logo }}" alt="{{ sponsor.name }} logo">
                                    <div class="card-body">
                                        <p class="card-text">{{ sponsor.description | safe }}</p>
                                        <p class="card-text"><strong>Tier:</strong> {{ sponsor.tier }}</p>
                                        {% if sponsor.website %}
                                            <a href="{{ sponsor.website }}" class="btn btn-secondary" target="_blank">Visit Website</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% elif sponsor.tier == 'Bronze' %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm border-danger">
                                    <div class="card-header bg-danger text-white text-center">
                                        <h3 class="card-title font-weight-bold">{{ sponsor.name }}</h3>
                                    </div>
                                    <img class="card-img-top" src="{{ sponsor.logo }}" alt="{{ sponsor.name }} logo">
                                    <div class="card-body">
                                        <p class="card-text">{{ sponsor.description | safe }}</p>
                                        <p class="card-text"><strong>Tier:</strong> {{ sponsor.tier }}</p>
                                        {% if sponsor.website %}
                                            <a href="{{ sponsor.website }}" class="btn btn-danger" target="_blank">Visit Website</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-4">
                                <div class="card mb-4 shadow-sm">
                                    <img class="card-img-top" src="{{ sponsor.logo }}" alt="{{ sponsor.name }} logo">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ sponsor.name }}</h5>
                                        <p class="card-text">{{ sponsor.description | safe }}</p>
                                        <p class="card-text"><strong>Tier:</strong> {{ sponsor.tier }}</p>
                                        {% if sponsor.website %}
                                            <a href="{{ sponsor.website }}" class="btn btn-primary" target="_blank">Visit Website</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
