<!-- Submission Detail Modal -->
<div id="submissionDetailModal" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeSubmissionDetailModal()">&times;</span>
        <img id="submissionImage" class="verification-image" src="" alt="Submission Detail">
        <p id="submissionComment"></p>
        <div>
            <a id="submissionUserLink" class="button" href="#">User Profile</a>
            <a id="twitterLink" href="#" class="button" target="_blank">Link to Twitter</a>
            <a id="downloadLink" href="#" class="button" download>Download Image</a>
        </div>
    </div>
</div>
