<!-- app/templates/modals/task_creation_modal.html -->
<div id="taskCreationModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create Task</h5>
            <button type="button" class="btn-close" aria-label="Close" onclick="closeTaskCreationModal()"></button>
        </div>
        <div class="modal-body">
            <form id="taskCreationForm">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label for="taskDescription">Task Description</label>
                    <input type="text" class="form-control" id="taskDescription" required>
                </div>
                <button type="submit" class="btn btn-primary">Generate Task</button>
            </form>
            <p>
                Example Tasks:
            </p>
            <ul>
                <li>I got my kiddo a new bike and went for a ride.</li>
                <li>Wore a helmet while biking for the first time in a few years.</li>
                <li>Convinced my parent to ride a bicycle.</li>
                <li>Went on a 5-day cycling trip to Crater Lake Oregon.</li>
                <li>Cleared my head by going for a short ride on my bike.</li>
            </ul>
        </div>
    </div>
</div>
