/* main.css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100%;
    color: #333;
}

main {
    flex: 1;
}

.content-wrap {
    flex: 1; /* This makes the content area flex and push the footer down */
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
}

header nav a {
    color: #ffffff;
    margin: 0 15px;
}

header nav a:hover {
    color: #dddddd;
}

main {
    padding: 20px;
}

.top-half {
    border: 5px solid #ccc; /* Light grey border to act as a frame */
    padding: 10px; /* Space between the border and the content */
    border-radius: 8px; /* Rounded corners for a more polished look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    background-color: #fff; /* Optional: white background for contrast */
    margin-bottom: 20px; /* Space below the framed section */
}


.container {
    width: 100%; /* Makes sure the container fits within the viewport */
    max-width: 95%; /* Limits maximum width while allowing some margin */
    margin: auto; /* Centers the container */
    background-color: #D0E6B5;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    overflow: hidden; /* Ensures no internal content spills over */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.table {
    width: 100%; /* Full width of its container */
    border-collapse: collapse; /* Ensures borders between cells are merged */
    background-color: #ffffff;
    table-layout: fixed; /* Helps in maintaining a uniform column width */
    overflow-x: auto; /* Allows horizontal scrolling if needed */
}

.table th, .table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; /* Ensures text goes to the next line if needed */
}

.table th {
    background-color: #007bff;
    color: #ffffff;
}

.form-group {
    margin-bottom: 1em;
}

.form-group label {
    display: block;
    margin-bottom: .5em;
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: .5em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-group input:focus, .form-group textarea:focus, .form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.button, input[type="submit"] {
    padding: 10px 15px;
    background-color: #edecb9;
    border:  3px solid #ddd;;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover, input[type="submit"]:hover {
    background-color: #dba364;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.button:active, input[type="submit"]:active {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    top: 1px;
}

.button, a {
    transition: transform 0.3s ease-in-out;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    header, header nav, .container, .table, .form-group, .button, .alert {
        width: 100%; /* Full width */
        margin: auto; /* Center align */
        padding: 10px;
    }

    header nav a {
        margin: 5px 0; /* More vertical space */
        display: block; /* Stack nav items vertically */
    }

    .modal-content, .footer-container, .dropdown-content {
        width: 90%; /* Adjust width for smaller screens */
    }

    .table, .container {
        width: 100%;
    }

    .table th, .table td {
        font-size: x-small;
        word-wrap: normal; /* Ensures text goes to the next line if needed */

    }
}

@media (max-width: 480px) {
    .container, main {
        padding: 10px;
    }

    header {
        padding: 10px;
    }
    
    .box, .info-box, .game-item, .message {
        /* Increase font size for better readability on very small screens */
        font-size: larger;
    }
}

/* New styles for link boxes */
.link-boxes {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.box {
    display: block;
    width: 30%;
    padding: 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px; /* Rounded corners for the boxes */
}

/* Specific background colors for each box */
.box-steps { background-color: #ff9090; }
.box-missions { background-color: #82ff82; }
.box-games { background-color: #7a7aff; }

.introduction, .skill-building {
    margin-bottom: 30px;
    background-color: #eef6ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.introduction h2 {
    color: #007bff;
}

.introduction h3 {
    margin-top: 20px;
    color: #0056b3;
}

.introduction a {
    display: inline-block;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.introduction a:hover {
    background-color: #0056b3;
}

article {
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

article h3 {
    margin-top: 0;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.info-box, article a {
    display: block;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.info-box:hover, article a:hover {
    background-color: #0056b3;
    color: #ffffff;
    text-decoration: none;
}

.games-title {
    margin-bottom: 20px;
}

.game-item {
    background-color: #f1ffee;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.game-date {
    margin: 10px 0;
    font-style: italic;
}

.blue_button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 3px 5px; /* Reduced padding */
    border-radius: 1px;
    text-decoration: none;
    margin-top: 3px; /* Reduced margin */
    font-size: 11px; /* Adjust font size if necessary */
    vertical-align: middle; /* Aligns button with the text vertically */
}

.blue_button:hover {
    background-color: #0056b3;
}

.tasks {
    margin-top: 20px;
}

.tasks ul {
    list-style-type: none;
    padding: 0;
}

.tasks li {
    padding: 5px 0;
}

.completed {
    color: green;
    font-weight: bold;
}

/* The Modal (background) */
.modal {
    position: fixed;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
    animation: fadeIn 0.3s;
}

.modal-dialog {
    width: 90%;
    max-width: 800px; /* Wider modal for better data presentation */
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.modal-header {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.modal-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-footer {
    padding-top: 10px;
    text-align: right;
    border-top: 1px solid #eee;
}

.modal-action-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: center;

}

.modal-action-btn:hover {
    background-color: #0056b3;
}

.task-details-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.task-detail-item {
    background: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align children to the top */
}

.task-detail-item h4 {
    margin-bottom: 5px; /* Adjust spacing as needed */
    font-size: 16px;
    color: #333;
    font-weight: 600;
    text-align: center;
}


.task-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Modal Content */
.modal-content {
    max-height: 70vh; /* Adjust the height to your preference */
    overflow-y: auto; /* Enable scrolling inside the modal */
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 70%; /* Could be more or less, depending on screen size */
    border-radius: 8px; /* Optional: Rounded corners */
    position: relative;
    z-index: 1001;
}

/* Ensure the submission detail modal appears above the task detail modal */
#submissionDetailModal {
    z-index: 3;
}

/* Ensure the submission detail modal appears above the task detail modal */
#userProfileModal {
    z-index: 4;
}

/* Ensure the submission detail modal appears above the task detail modal */
#leaderboardModal {
    z-index: 3;
}

/* Specific styles for the Submission Detail Modal */
#submissionDetailModal .modal-content {
    text-align: center; /* Center align the content inside the modal */
    padding: 20px;
}

#submissionDetailModal #submissionComment {
    font-size: 18px; /* Increase the font size */
    margin-top: 20px; /* Add some space above the comment */
    color: #333; /* Dark grey color for better readability */
    font-weight: bold; /* Make the text bold */
}

#submissionDetailModal .button {
    margin: 10px 5px; /* Space around buttons */
    display: inline-block; /* Ensure buttons are in a line */
    width: auto; /* Allow the button to grow as per its content */
}

/* Container for buttons to manage alignment and distribution */
#submissionDetailModal div {
    text-align: center; /* Center-align the button container */
    margin-top: 20px; /* Space above the button container */
}

/* Enhance mobile responsiveness */
@media (max-width: 768px) {
    #submissionDetailModal .modal-content {
        padding: 10px; /* Reduce padding on smaller screens */
    }

    #submissionDetailModal #submissionComment {
        font-size: 16px; /* Slightly smaller font size on mobile */
    }
}

#taskDetailModal {
    z-index: 2;
}

.modal-content img {
    display: block;
    /*margin: 0 auto; /* Centers the image in the modal */
    margin-bottom: 20px; /* Space between the image and the text/comment below it */
    size: 200px;
}

.body-no-scroll {
    overflow: hidden; /* prevent scrolling on the body */
}

/* The Close Button */
.close-button {
    position: absolute;
    top: 10px;  /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    float: right;
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.6;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 1;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.welcomeImage {
    display: flex;
    justify-content: center;

}

.footer-container {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: center; /* Centers the content horizontally */
    gap: 20px; /* Adjust the space between the logo and the text */
    max-width: 1200px; /* Adjust based on your design preference */
    margin: 0 auto; /* Center the container */
}

.footer-logo {
    height: 100px; /* Adjust based on your logo's size */
}

.footer-text {
    text-align: left; /* Aligns the text to the left within its container */
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* Dropdown Button */
.dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #0056b3}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #0056b3;
}

.content-flex-container {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap on smaller screens */
    align-items: stretch; /* Stretches items to fill the container height */
    justify-content: space-between; /* Adds space between the flex items */
}

.message {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

/* Adjust link boxes for smaller screens */
@media only screen and (max-width: 768px) {
    .link-boxes {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%; /* Make boxes wider on smaller screens */
        margin-bottom: 20px; /* Add some space between boxes */
    }
}

/* Introduction, Skill-building, and Articles Responsiveness */
@media only screen and (max-width: 768px) {
    .introduction, .skill-building, article {
        /* Reduce padding for a more compact look */
        padding: 15px;
    }

    .introduction h2, .skill-building h2, article h3 {
        /* Slightly reduce the font size for headings */
        font-size: 1.2em;
    }
}

/* Game Items and Tasks List Responsiveness */
@media only screen and (max-width: 768px) {
    .game-item, .tasks li {
        /* Make these elements more compact on smaller screens */
        padding: 10px;
    }

    .tasks ul {
        /* Reduce padding to use more of the available space */
        padding-left: 0;
    }
}

/* Modal Responsiveness */
@media only screen and (max-width: 768px) {
    .modal-content {
        /* Make modal content take more screen width on smaller devices */
        width: 95%;
        padding: 15px; /* Slightly reduce padding */
    }

    .close-button {
        /* Adjust close button size to be more touch-friendly */
        font-size: 32px;
    }
}

/* Footer Adjustments for Smaller Screens */
@media only screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo, .footer-text {
        /* Adjustments to ensure the footer content is centered and not too large */
        margin-bottom: 10px; /* Add some space between elements */
    }
}

/* Dropdown and Messages Box for Better Mobile Interaction */
@media only screen and (max-width: 768px) {
    .dropdown-content, .message {
        /* Ensure dropdowns and message boxes are not too wide */
        width: auto; /* Allow the width to auto-adjust based on content */
    }

    .message {
        /* Increase padding for easier reading and interaction */
        padding: 10px;
    }
}

/* Ensuring Text and Buttons are Easily Interactable */
@media only screen and (max-width: 768px) {
    body, button, a, input[type="submit"], .dropbtn {
        /* Increase font size for better legibility on small screens */
        font-size: 48px; /* Adjust size as needed for your design */
    }
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .task-modal-columns {
        flex-direction: column;
    }

    .user-task-data {
        border-left: none;
        border-top: 2px solid #ccc; /* Adds a horizontal separation on smaller screens */
    }
}

/* Style for the task detail modal's internal layout */
.task-modal-columns {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.task-details, .user-task-data {
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    min-width: 300px; /* Ensure each column has sufficient width */
}

.user-task-data {
    border-left: 2px solid #ccc; /* Adds a visual separation between the sections */
}

/* Style for the photo board to ensure it is full width under the columns */
#submissionBoard {
    width: 100%; /* Full width */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.photo-board {
    margin-top: 10px;
    display: grid; /* Changed to flex to better manage horizontal centering */
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center; /* Centers the columns horizontally */
    flex-wrap: wrap; /* Allows columns to wrap as needed */
    gap: 10px; /* Spacing between columns */
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.photo-board img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.photo-column {
    flex: 1 1 150px; /* Flexibility with a basis of 150px */
    display: flex;
    flex-direction: column;
    width: 150px; /* Set a fixed width for each column */
    gap: 10px;
}

.photo-column img {
    width: 100%; /* Images expand to fill the column width */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease-in-out;
}

.photo-column img:hover {
    transform: scale(1.1);
    z-index: 1;
}

.social-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.social-button svg {
    fill: #fff; /* White color icon */
    width: 24px;
    height: 24px;
}

.social-button:hover svg {
    fill: #ccc; /* Light grey on hover */
}

.verification-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Centering the image horizontally */
}

.leaderboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.leaderboard-table {
    flex: 1;
    margin-right: 20px; /* Space between table and meter */
}

.leaderboard-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.leaderboard-table {
    flex: 1;
    margin-right: 20px; /* Space between table and meter */
}

.completion-meter-container {
    width: 100%; /* Flexible container width */
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.completion-meter {
    width: 100%;
    height: 300px; /* Adjust height as needed */
    background: linear-gradient(to bottom, #ddd, #fff); /* Gradient effect */
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2); /* Adding shadow for depth */
    position: relative;
    border-radius: 8px; /* Rounded corners */
    overflow: hidden; /* Ensures the bar does not exceed the border radius */
}

.meter-bar {
    background: linear-gradient(to top, #4caf50, #8bc34a);
    box-shadow: inset 0 -1px 1px rgba(0,0,0,0.2);
    width: 100%;
    transition: height 2s ease-in-out, background-color 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.meter-label {
    margin-bottom: 10px; /* Space between label and meter */
    text-align: center;
    font-weight: bold; /* Making the text bold */
    color: #333; /* More readable text color */
}

/* Optional: Animation to draw attention to the meter when page loads */
:root {
    --meter-fill-height: 0%;  /* Default height */
}

@keyframes fillMeter {
    0% {
        height: 0;
    }
    100% {
        height: var(--meter-fill-height);  /* Using the variable */
    }
}

/* Enhance appearance with transitions */
.meter-bar::after {
    content: attr(data-label);
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* Base style for the checkbox container */
.disabled-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px;
    left: 25%; /* Center horizontally */
    background: #FFF; /* Default background to white */
    border: 1px solid #707070; /* Grey border */
    box-sizing: border-box;
    cursor: not-allowed;
}

/* Custom checkbox appearance */
.disabled-checkbox input[type="checkbox"] {
    opacity: 0;  /* Hide the actual checkbox */
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    cursor: not-allowed;
    z-index: 1; /* Ensure it covers the styled div to maintain functionality */
}

/* Styling for when checkbox is checked */
.disabled-checkbox input[type="checkbox"]:checked + .checkbox-custom::after {
    content: '✔'; /* Unicode checkmark */
    color: black; /* Checkmark color */
    font-size: 16px; /* Larger checkmark for better visibility */
    position: absolute;
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Perfect centering */
    pointer-events: none; /* prevents interaction directly with the pseudo-element */
}

/* Span that will hold the checkmark for customization */
.disabled-checkbox .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent; /* Initially no background */
    transition: background-color 0.3s; /* Smooth transition for background color */
}

.badge-image {
    width: 70px;
    transition: transform 0.3s ease; /* Smooth transformation */
    display: block;
    max-width: 100px;  /* Set a suitable max-width for badge images */
    height: auto;  /* Maintain aspect ratio */
    margin: 10px auto;  /* Center the badge image */
    border-radius: 5px;  /* Optional: rounded corners for aesthetic */
}

.badge-image:hover {
    transform: scale(3); /* Adjust scale as needed */
    z-index: 10; /* Ensure the image is above other content */
}

.badge-image-manage {
    width: 70px;
    transition: transform 0.3s ease; /* Smooth transformation */
}

.badge-image-pri-pro {
    width: 30px;
    transition: transform 0.3s ease; /* Smooth transformation */
}

.badge-image-pri-pro:hover {
    transform: scale(14); /* Adjust scale as needed */
    z-index: 1; /* Ensure the image is above other content */
}

.shout-messages {
    max-height: 200px;  /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
}

.activity {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between; /* Ensures spacing is maximized between elements */
}

.activity strong {
    margin-right: 10px; /* Ensures some spacing */
    white-space: nowrap; /* Keeps the timestamp and username on the same line */
}

.activity span {
    overflow: hidden; /* Prevents content from overflowing its container */
    text-overflow: ellipsis; /* Adds ellipsis if text is too long */
    white-space: nowrap; /* Prevents text from wrapping */
}

.activity button {
    margin-left: 10px; /* Space before the button */
}

.activity #like-count {
    margin-left: 5px; /* Small space between button and count */
    display: inline-block; /* Ensures it's on the same line as the button */
}

.profile-container {
    display: flex;
    justify-content: space-between;
    height: 200px;       /* Set the maximum height */
    padding: 10px;       /* Optional: adds some space inside the box */
    border: 1px solid #ccc; /* Optional: adds a border around the profile container */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: adds subtle shadow for depth */
    align-items: flex-start; 
}

.profile-details-column {
    max-width: 50%; /* Limit the profile details column to half of the container width */
}

.profile-image {
    max-width: 400px; /* Limits the width to the parent container size */
    max-height: 300px; /* Adjust this value based on your design preference */
    height: auto; /* Maintains the aspect ratio */
    width: 400px;
    border-radius: 50%; /* Keeps the circular shape */
    object-fit: cover; /* Covers the frame without distorting the image */
    border: 5px solid #ccc; /* Light grey border to act as a frame */
    padding: 10px; /* Space between the border and the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for a 3D effect */
    background-color: #fff; /* Optional: white background for contrast */
}


.carousel-control-prev, .carousel-control-next {
    width: 5%;
}

.carousel-inner {
    height: 300px;                  /* Fixed height */
    max-width: 400px;               /* Maximum width */
    width: 80%;                     /* Percentage width for responsiveness */
    overflow: hidden;   
    position: relative;      /* For positioning inner elements absolutely */
    margin: auto;                   /* Center the carousel horizontally */
    display: block;                 /* Use block to apply auto margins */
}


.user-profile {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-interests {
    flex-grow: 1;
}

.badges-earned, .tasks-completed {
    margin-top: 20px;
}

.badges-container, .tasks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 10px;
}

.badge-item, .task-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.badge-icon {
    width: 100px;
    display: block;
    margin: 0 auto;
}

.badge-item h3, .task-item h3 {
    margin-top: 10px;
    color: #333;
}

.badge-item p, .task-item p {
    color: #666;
    font-size: 0.9em;
}

.tasks-item p {
    margin: 5px 0;
}

.submission-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.submission-image {
    width: 100%;
    max-width: 300px; /* Limit size to maintain aspect ratio */
    height: auto;
    border-radius: 8px;
}

.submission-info {
    text-align: center;
    padding: 10px;
}

.submission-user-details, .submission-task-details, .submission-timestamp, .submission-comment {
    margin-top: 5px;
}

.delete-button {
    padding: 8px 16px;
    margin-top: 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #ff6666;
}

.game-title-section h1 {
    color: #0056b3;
    font-size: 2.5rem;
}

.game-title-section p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.4;
    margin-top: 10px;
}

.game-info-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.game-info-card {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.game-info-card strong {
    display: block;
    color: #007bff;
    font-weight: bold;
    margin-bottom: 5px;
}

.game-info-card span {
    font-size: 1rem;
    color: #333;
}

.footer {
    background-color: #2C3E50;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 20px 50px;
    box-sizing: border-box;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.footer-section.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-section.logos p {
    margin-right: 10px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 300px; /* ensures wrapping on smaller screens */
}

.see-more {
    margin-left: 10px;
    text-decoration: none;
    color: #007bff; /* Example color for the link */
}

.footer-section.text {
    margin-bottom: 20px;
}

.footer-section.links {
    margin-bottom: 20px;
}

.footer-section.legal {
    margin-top: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos a {
    margin: 0 15px;
}

.footer-logo {
    height: auto;
    width: 100px; /* adjust logo size */
}

.text {
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #34495E;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #4A69BD;
}

.legal {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
    border-top: 1px solid #34495E; /* subtle separation line */
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .logos {
        flex-direction: column;
    }

    .links {
        flex-direction: column;
    }
}
/* Additional Media Queries for Mobile Optimization */
@media (max-width: 768px) {
    header nav a {
        padding: 8px 5px; /* Increase tap area */
        font-size: 16px; /* Adjust font size for better legibility */
    }

    .table th, .table td {
        padding: 6px; /* Reduce padding to save space */
        font-size: 14px; /* Reduce font size to fit more content */
    }

    .form-group input, .form-group textarea, .form-group select {
        font-size: 16px; /* Increase font size for easier interaction */
    }

    .button, input[type="submit"] {
        font-size: 18px; /* Increase button font size for better readability */
        padding: 12px 20px; /* Increase padding for a larger tap area */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px; /* Increase base font size for better readability */
    }

    header {
        padding: 5px 10px; /* Reduce padding to save space */
    }

    main, .container {
        padding: 5px; /* Reduce padding to utilize more screen space */
    }

    .footer-container {
        padding: 15px 10px; /* Adjust footer padding */
    }

    .modal-content {
        padding: 10px; /* Reduce modal padding for larger usable area */
    }
}

@media (max-width: 480px) {
    /* Enhance readability and interaction for smaller screens */
    header, .modal-content, .footer-container, .dropdown-content {
        font-size: 16px; /* Bigger font size for better readability on very small devices */
    }

    .footer-links a, .dropdown-content a {
        padding: 10px 15px; /* Larger padding for easier tapping */
    }

    .footer-legal p {
        font-size: 14px; /* Increase the font size for legal text for better readability */
    }

    .alert, .form-group label {
        font-size: 16px; /* Larger font size for better visibility */
    }
}

@media (max-width: 480px) {
    .footer-logo, .profile-picture {
        width: 80px; /* Reduce size to fit mobile screens */
        height: auto; /* Maintain aspect ratio */
    }

    .badge-image, .badge-image-pri-pro {
        width: 50px; /* Reduce badge image size on small devices */
    }

    .carousel-inner, .carousel-control-prev, .carousel-control-next {
        max-height: 200px; /* Reduce carousel height on small devices */
    }
}

@media (max-width: 480px) {
    .content-flex-container, .links-container {
        flex-direction: column; /* Stack flex items vertically */
    }

    .task-details-grid, .badges-container, .tasks-container {
        grid-template-columns: 1fr; /* Stack grid items into a single column */
    }

    .modal-body, .leaderboard-container {
        flex-direction: column; /* Stack modal and leaderboard components vertically */
    }

    .task-modal-columns {
        flex-direction: column; /* Ensure task modal columns stack vertically */
    }
}

@media (max-width: 480px) {
    .dropdown-content, .dropdown:hover .dropdown-content {
        width: 100%; /* Full-width dropdowns for easier access */
        box-shadow: none; /* Remove shadow for a cleaner look */
    }

    .dropdown, .dropbtn {
        width: 100%; /* Full width for dropdown button for easier access */
    }
}

@media (max-width: 768px) {
    /* Adjustments for game-item class */
    .game-item {
        width: 100%;
        padding: 15px; /* Provide more internal space */
        margin-bottom: 20px; /* Increase space between game items */
        border-radius: 8px; /* Soften the corners a bit more */
        box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Slightly lighter shadow for a cleaner look */
        background-color: #f9f9f9; /* Lighter background for better readability */
    }

    /* Adjustments for button class */
    .button, input[type="submit"] { /* Assumed input[type="submit"] also needs the same styling */
        padding: 12px 20px; /* Larger padding for easier interaction */
        font-size: 18px; /* Larger font size for readability and ease of touch */
        border-radius: 8px; /* More rounded corners */
        background-color: #f0f0f0; /* Lighter background color for visibility */
        color: #333; /* Darker text for better contrast */
        display: block; /* Block display to take full width */
        width: 100%; /* Full width for easier touch */
        text-align: center; /* Center text, commonly expected in mobile interfaces */
        margin-bottom: 15px; /* Add space between buttons or below the button */
        box-shadow: 0 4px 6px rgba(0,0,0,0.15); /* Slightly more prominent shadow for 3D effect */
    }

    .button:hover, input[type="submit"]:hover {
        background-color: #e0e0e0; /* Slightly darker on hover for visual feedback */
        box-shadow: 0 5px 8px rgba(0,0,0,0.2); /* Deeper shadow on hover for a popping effect */
    }

    .button:active, input[type="submit"]:active {
        background-color: #d0d0d0; /* Even darker on active for a press-down effect */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Flatter shadow to simulate being pressed */
        position: relative;
        top: 2px; /* Slightly move down to mimic pressing */
    }
}
/* Default styles for larger screens */
.bottom-half img {
    max-width: 500px;
    height: auto;
    margin-top: 100px;
    display: block; /* Ensures the image is centered */
    margin-left: auto;
    margin-right: auto;
}

/* Styles for screens up to 768px wide */
@media (max-width: 768px) {
    .bottom-half img {
        width: 400px; /* Slightly smaller than the default */
        margin-top: 50px; /* Reduced top margin */
    }
}

/* Styles for screens up to 480px wide */
@media (max-width: 480px) {
    .bottom-half img {
        width: 400px; /* Further reduce the size for small screens */
        margin-top: 20px; /* Minimal top margin */
    }
}

@media (max-width: 768px) {
    .game-item {
        padding: 15px;
        margin-bottom: 15px;
    }

    .blue_button, input[type="submit"] {
        padding: 10px 15px;
        font-size: 16px; /* Increase for better legibility */
    }

    .activity {
        flex-direction: column;
        align-items: flex-start;
    }

    .activity strong, .activity span {
        margin-right: 0;
        margin-bottom: 5px; /* Add space between elements when stacked */
    }
}

@media (max-width: 480px) {
    .game-item {
        padding: 10px;
    }

    .form-group label, .form-group input, .form-group textarea {
        font-size: 14px; /* Increase font size for better readability */
    }

    .blue_button, input[type="submit"] {
        width: 100%; /* Full width buttons for easier tapping */
        margin-top: 10px;
    }

    .activity {
        padding: 5px;
    }

    .activity strong, .activity span {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    #like-count {
        margin-left: 0;
        display: block; /* New line for like counts for clarity */
    }
}

.inspirational-text {
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 1.2em; /* Adjust font size as needed */
    color: #555; /* Adjust color as needed */
}