{% extends "layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary mb-3">Back to Dashboard</a>
    <h2>Add New Quest to Game</h2>
    <form action="" method="post" class="needs-validation" enctype="multipart/form-data" id="quest-form" novalidate>
        {{ form.hidden_tag() }}
        
        <!-- Quest Details -->
        <div class="mb-3">
            <label for="{{ form.title.id }}" class="form-label">{{ form.title.label }}</label>
            {{ form.title(class="form-control", required=True) }}
        </div>
        <div class="mb-3">
            <label for="{{ form.description.id }}" class="form-label">{{ form.description.label }}</label>
            <div id="description-editor" class="quill-editor"></div>
            {{ form.description(class="form-control", id="description", style="display: none;", required=False) }}
        </div>
        <div class="mb-3">
            <label for="{{ form.tips.id }}" class="form-label">{{ form.tips.label }}</label>
            <div id="tips-editor" class="quill-editor"></div>
            {{ form.tips(class="form-control", id="tips", style="display: none;", required=False) }}
        </div>
        <div class="mb-3">
            <label for="{{ form.points.id }}" class="form-label">{{ form.points.label }}</label>
            {{ form.points(class="form-control", required=True) }}
        </div>
        <div class="mb-3">
            <label for="{{ form.completion_limit.id }}" class="form-label">{{ form.completion_limit.label }}</label>
            {{ form.completion_limit(class="form-control") }}
        </div>

        <!-- Frequency Field -->
        <div class="mb-3">
            <label for="{{ form.frequency.id }}" class="form-label">{{ form.frequency.label }}</label>
            {{ form.frequency(class="form-control") }}
        </div>

        <!-- Quest Configuration -->
        <div class="mb-3 form-check">
            {{ form.enabled(class="form-check-input") }}
            <label for="{{ form.enabled.id }}" class="form-check-label">{{ form.enabled.label }}</label>
        </div>
        <!-- Quest Sponsored Checkbox -->
        <div class="mb-3 form-check">
            {{ form.is_sponsored(class="form-check-input") }}
            <label for="{{ form.is_sponsored.id }}" class="form-check-label">{{ form.is_sponsored.label }}</label>
            <div class="form-text">Check if the quest is sponsored.</div>
        </div>
        <div class="mb-3">
            <label for="{{ form.category.id }}" class="form-label">{{ form.category.label }}</label>
            {{ form.category(class="form-control") }}
        </div>

        <!-- Verification Type Field -->
        <div class="mb-3">
            <label for="{{ form.verification_type.id }}" class="form-label">{{ form.verification_type.label }}</label>
            {{ form.verification_type(class="form-control") }}
        </div>

        <!-- Badge Selection or Creation -->
        <fieldset class="mb-4">
            <legend>Badge Information</legend>
            <div class="mb-3">
                <label for="{{ form.badge_id.id }}" class="form-label">{{ form.badge_id.label }}</label>
                {{ form.badge_id(class="form-control") }}
                <div class="form-text">Select "None" to create a new badge or choose an existing one.</div>
            </div>
            <!-- These fields should be filled only if creating a new badge -->
            <div class="mb-3">
                <label for="{{ form.badge_name.id }}" class="form-label">{{ form.badge_name.label }}</label>
                {{ form.badge_name(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="{{ form.badge_description.id }}" class="form-label">{{ form.badge_description.label }}</label>
                {{ form.badge_description(class="form-control") }}
            </div>
            <div class="mb-3">
                <label for="{{ form.badge_image_filename.id }}" class="form-label">{{ form.badge_image_filename.label }}</label>
                {{ form.badge_image_filename(class="form-control") }}
            </div>
        </fieldset>

        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<script>
    var quillDescription = new Quill('#description-editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ 'font': [] }, { 'size': [] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'script': 'sub'}, { 'script': 'super' }],
                [{ 'header': 1 }, { 'header': 2 }, { 'header': 3 }, { 'header': 4 }, { 'header': 5 }, { 'header': 6 }, 'blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'direction': 'rtl' }, { 'align': [] }],
                ['link', 'image', 'video', 'formula'],
                ['clean']
            ]
        }
    });

    var quillTips = new Quill('#tips-editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [{ 'font': [] }, { 'size': [] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'script': 'sub'}, { 'script': 'super' }],
                [{ 'header': 1 }, { 'header': 2 }, { 'header': 3 }, { 'header': 4 }, { 'header': 5 }, { 'header': 6 }, 'blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'direction': 'rtl' }, { 'align': [] }],
                ['link', 'image', 'video', 'formula'],
                ['clean']
            ]
        }
    });

    document.getElementById('quest-form').onsubmit = function(e) {
        // Get the Quill editor contents
        var descriptionContent = quillDescription.root.innerHTML.trim();
        var tipsContent = quillTips.root.innerHTML.trim();

        // Check if the Quill editor content is empty
        if (!descriptionContent || descriptionContent === '<p><br></p>') {
            alert('Description is required.');
            e.preventDefault();  // Prevent the form from submitting
            return false;
        }

        // Set the hidden textarea value
        document.getElementById('description').value = descriptionContent;
        document.getElementById('tips').value = tipsContent;
    };
</script>
{% endblock %}
