{% extends "layout.html" %}

{% block title %}Create New Game{% endblock %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back to Dashboard</a>
    <h1>Create a New QuestByCycle Game</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="title">Game Title</label>
            {{ form.title(class_="form-control", id="title") }}
            {% if form.title.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.title.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="description">Game Description</label>
            <div id="description" class="quill-editor"></div>
            <textarea name="description" id="description-textarea" hidden>{{ form.description.data }}</textarea>
            {% if form.description.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="description2">Quest Instructions</label>
            <div id="description2" class="quill-editor"></div>
            <textarea name="description2" id="description2-textarea" hidden>{{ form.description2.data }}</textarea>
            {% if form.description2.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.description2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            {{ form.start_date(class_="form-control", id="start_date") }}
            {% if form.start_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.start_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            {{ form.end_date(class_="form-control", id="end_date") }}
            {% if form.end_date.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.end_date.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="game_goal">Game Goal</label>
            {{ form.game_goal(class_="form-control", id="game_goal") }}
            {% if form.game_goal.errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.game_goal.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="details">Game Details</label>
            <div id="details" class="quill-editor"></div>
            <textarea name="details" id="details-textarea" hidden>{{ form.details.data }}</textarea>
        </div>
        <div class="form-group">
            <label for="awards">Awards Information</label>
            <div id="awards" class="quill-editor"></div>
            <textarea name="awards" id="awards-textarea" hidden>{{ form.awards.data }}</textarea>
        </div>
        <div class="form-group">
            <label for="beyond">Beyond the Game</label>
            <div id="beyond" class="quill-editor"></div>
            <textarea name="beyond" id="beyond-textarea" hidden>{{ form.beyond.data }}</textarea>
        </div>
        <div class="form-group">
            <label for="leaderboard_image">Leaderboard Background Image (height: 400px; .png only)</label>
            {{ form.leaderboard_image(class_="form-control", id="leaderboard_image") }}
        </div>
        <div class="form-check form-switch">
            {{ form.is_public(class_="form-check-input", id="is_public") }}
            <label class="form-check-label" for="is_public">Is Public</label>
        </div>
        <div class="form-check form-switch">
            {{ form.allow_joins(class_="form-check-input", id="allow_joins") }}
            <label class="form-check-label" for="allow_joins">Allow Joining</label>
        </div>
        <div class="form-group">
            <label for="custom_game_code">Custom Game Code</label>
            <input type="text" class="form-control" id="custom_game_code" name="custom_game_code" value="{{ form.custom_game_code.data }}" readonly>
        </div>
        <div class="form-group">
            <label for="twitter_username">Twitter Username</label>
            {{ form.twitter_username(class_="form-control", id="twitter_username") }}
        </div>
        <div class="form-group">
            <label for="twitter_api_key">Twitter API Key</label>
            {{ form.twitter_api_key(class_="form-control", id="twitter_api_key") }}
        </div>
        <div class="form-group">
            <label for="twitter_api_secret">Twitter API Secret</label>
            {{ form.twitter_api_secret(class_="form-control", id="twitter_api_secret") }}
        </div>
        <div class="form-group">
            <label for="twitter_access_token">Twitter Access Token</label>
            {{ form.twitter_access_token(class_="form-control", id="twitter_access_token") }}
        </div>
        <div class="form-group">
            <label for="twitter_access_token_secret">Twitter Access Token Secret</label>
            {{ form.twitter_access_token_secret(class_="form-control", id="twitter_access_token_secret") }}
        </div>
        <div class="form-group">
            <label for="facebook_app_id">Facebook App ID</label>
            {{ form.facebook_app_id(class_="form-control", id="facebook_app_id") }}
        </div>
        <div class="form-group">
            <label for="facebook_app_secret">Facebook App Secret</label>
            {{ form.facebook_app_secret(class_="form-control", id="facebook_app_secret") }}
        </div>
        <div class="form-group">
            <label for="facebook_access_token">Facebook Access Token</label>
            {{ form.facebook_access_token(class_="form-control", id="facebook_access_token") }}
        </div>
        <div class="form-group">
            <label for="facebook_page_id">Facebook Page ID</label>
            {{ form.facebook_page_id(class_="form-control", id="facebook_page_id") }}
        </div>
        <div class="form-group">
            <label for="instagram_access_token">Instagram Access Token</label>
            {{ form.instagram_access_token(class_="form-control", id="instagram_access_token") }}
        </div>
        <div class="form-group">
            <label for="instagram_user_id">Instagram User ID</label>
            {{ form.instagram_user_id(class_="form-control", id="instagram_user_id") }}
        </div>
        <button type="submit" class="btn btn-primary">Create Game</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const quillOptions = {
            theme: 'snow',
            modules: {
                toolbar: [
                    [{ 'font': [] }, { 'size': [] }],
                    ['bold', 'italic', 'underline', 'strike'],
                    [{ 'color': [] }, { 'background': [] }],
                    [{ 'script': 'sub'}, { 'script': 'super' }],
                    [{ 'header': 1 }, { 'header': 2 }, { 'header': 3 }, { 'header': 4 }, { 'header': 5 }, { 'header': 6 }, 'blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'indent': '-1'}, { 'indent': '+1' }],
                    [{ 'direction': 'rtl' }, { 'align': [] }],
                    ['link', 'image', 'video', 'formula'],
                    ['clean']
                ]
            }
        };

        const editors = ['description', 'description2', 'details', 'awards', 'beyond'];

        editors.forEach(editorId => {
            const quillEditor = new Quill(`#${editorId}`, quillOptions);
            const hiddenInput = document.getElementById(`${editorId}-textarea`);

            quillEditor.on('text-change', function() {
                hiddenInput.value = quillEditor.root.innerHTML;
            });
        });
    });
</script>

{% endblock %}
