{% extends "layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('main.index') }}" class="button">Back to Home</a>
    <div class="game-title-section">
        <h1>{{ game.title }}</h1>
        <p>{{ game.description }}</p>
        <p>{{ game.description2 }}</p>
    </div>
    <div class="game-info-section">
        <div class="game-info-card">
            <strong>Start Date:</strong>
            <span>{{ game.start_date.strftime('%Y-%m-%d') }}</span>
        </div>
        <div class="game-info-card">
            <strong>End Date:</strong>
            <span>{{ game.end_date.strftime('%Y-%m-%d') }}</span>
        </div>
        <div class="game-info-card">
            <strong>Game Goal:</strong>
            <span>{{ game.game_goal }}</span>
        </div>
        <div class="game-info-card">
            <strong>Details:</strong>
            <span>{{ game.details }}</span>
        </div>
        <div class="game-info-card">
            <strong>Awards:</strong>
            <span>{{ game.awards }}</span>
        </div>
        <div class="game-info-card">
            <strong>Beyond:</strong>
            <span>{{ game.beyond }}</span>
        </div>
    </div>
</div>
{% endblock %}
