{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="welcomeImage">
        <img src="{{ url_for('static', filename='images/gameBikeHunt.png') }}" alt="Bike Hunt Games" style="max-width: 1000px; max-height: 300px;">
    </div>
    <div class="game-item">
        <h1>{{ game.title }}</h1>
        <p>{{ game.description }}</p>
        <p><strong>Start Date:</strong> {{ game.start_date.strftime("%m-%d-%y") }}</p>
        <p><strong>End Date:</strong> {{ game.end_date.strftime("%m-%d-%y") }}</p>
    </div>
    <div class="game-item">
        {% if has_joined %}
            <p id="total-points">Total Completed Points: {{ total_points }}</p>
            <p>
                {% if current_user.is_admin %}
                    <a href="{{ url_for('tasks.manage_game_tasks', game_id=game.id) }}" class="button" style="margin-left: 10px;">Configure Tasks</a>
                    <a href="{{ url_for('badges.manage_badges', game_id=game.id) }}" class="button" style="margin-left: 10px;">Configure Badges</a>
                {% endif %}
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Badge</th>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td class="disabled-checkbox">
                            <input type="checkbox" disabled {{ 'checked' if task.total_completions > 0 else '' }}>
                            <span class="checkbox-custom"></span> <!-- This span acts as the visual element for the checkbox -->
                        </td>
                        <td>
                            {% if task.badge %}
                                {% if task.badge.image %}
                                    <img src="{{ url_for('static', filename=task.badge.image) }}" alt="Badge" style="width: 50px;">
                                {% endif %}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td><a href="javascript:void(0);" onclick="openTaskDetailModal('{{ task.id }}')">{{ task.title }}</a></td>
                        <td>
                            {{ task.description }}
                            {% if task.tips %}
                                <a href="javascript:void(0);" onclick="showModal('{{ task.tips }}')">[...]</a>
                            {% endif %}
                        </td>
                        <td>{{ task.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <form action="{{ url_for('games.register_game', game_id=game.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="button primary">Join Game</button>
            </form>
        {% endif %}
    </div>
</div>

{% include 'modals/task_detail_modal.html' %}
{% include 'modals/submission_detail_modal.html' %}
{% include 'modals/tips_modal.html' %}
{% include 'modals/user_profile_modal.html' %}

<script src="{{ url_for('static', filename='js/modal_handlers.js') }}"></script>
<script src="{{ url_for('static', filename='js/task_interaction.js') }}"></script>
<script src="{{ url_for('static', filename='js/utility_functions.js') }}"></script>
<script src="{{ url_for('static', filename='js/game_interaction.js') }}"></script>

{% endblock %}