{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="welcomeImage">
            <img src="{{ url_for('static', filename='images/welcomeQuestByCycle.png') }}" alt="Welcome to Bike Hunt" style="max-width: 600px; max-height: 300px;">
        </div>

        <div class="introduction">
            <strong><p>QuestByCycle is a community-wide motivational game designed to encourage cycling and outdoor activities. Participants can join the game, complete tasks, and earn points/”reduce carbon” in the atmosphere to climb up the leaderboard. It's a fun way to stay active, explore your surroundings, and connect with fellow cycling enthusiasts.</p></strong>
        </div>

        <div class="content-flex-container">

            <div class="game-item">
                <div id="taskImageCarousel" class="carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in carousel_images %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}">
                            <img src="{{ url_for('static', filename=image) }}" class="carousel-image" alt="Carousel Image">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#taskImageCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#taskImageCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

            <div class="game-item">
                {% if profile %}
                    {% if profile.profile_picture %}
                        <img src="{{ url_for('static', filename=profile.profile_picture) }}" alt="Profile Picture" class="profile-image">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/default_profile_picture.png') }}" alt="Default Profile Picture" class="profile-image">
                    {% endif %}
                <h2>{{ profile.display_name }}</h2>
                <p><strong>Email:</strong> {{ profile.email }}</p>
                <p><strong>Age Group:</strong> {{ profile.age_group }}</p>
                <p><strong>Interests:</strong> {{ profile.interests }}</p>
                <div>
                    <h3>Participated Games:</h3>
                    <ul>
                        {% for game in user_games %}
                        <li>{{ game.title }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div>
                    <h3>Badges Earned:</h3>
                    <ul>
                        {% for badge in badges %}
                            <li>
                                {{ badge.name }} - 
                                {% if badge.image %}
                                <img src="{{ url_for('static', filename='images/badge_images/' + badge.image) }}" alt="{{ badge.name }}" class="badge-image-pri-pro">
                                {% else %}
                                <img src="{{ url_for('static', filename='images/badge_images/default_badge.png') }}" alt="Default Badge" class="badge-image-pri-pro">
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% else %}
                <p>No profile details available.</p>
                {% endif %}
            </div>
        <div class="shout-board-column">
            <h2>Current Activities</h2>
            <div class="game-item">
                {% if current_user.is_admin %}
                <form action="{{ url_for('main.shout_board') }}" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.message.label }} {{ form.message(rows=3) }}
                    </div>
                    {{ form.submit() }}
                </form>
                {% endif %}
                <div class="shout-messages">
                    {% for activity in activities %}
                    <div class="activity" style="display: flex; align-items: center; margin-bottom: 10px;">
                        {% if activity.__tablename__ == 'shout_board_message' %}
                        <strong style="margin-right: 10px;"><a href="javascript:void(0)" onclick="showUserProfileModal('{{ activity.user.id }}')">{{ activity.user.username }}</a></strong>  
                        <span style="flex-grow: 1;">{{ activity.message }}</span>
                        <button type="button" class="blue_button" id="like-button-{{ activity.id }}" onclick="likeMessage('{{ activity.id }}')">
                            {% if activity.liked_by_user %}Liked{% else %}Like{% endif %}
                        </button>
                        <span id="like-count-{{ activity.id }}">{{ activity.likes.count() }}</span>👍
                        {% elif activity.__tablename__ == 'user_tasks' %}
                        <strong style="margin-right: 10px;">
                            <a href="javascript:void(0)" onclick="showUserProfileModal('{{ activity.user.id }}')">{{ activity.user.username }}</a>
                        </strong> completed a task:
                        <strong style="margin-right: 10px;">
                            <a href="javascript:void(0);" onclick="openTaskDetailModal('{{ activity.task.id }}')">
                                {{ activity.task.title }}
                            </a>
                        </strong>
                        on {{ activity.completed_at.strftime('%Y-%m-%d %H:%M') }}
                        <button class="blue_button" id="like-button-{{ activity.task.id }}" onclick="likeTask('{{ activity.task.id }}');" class="{{ 'liked-button-style' if activity.task.liked_by_user else '' }}" {{ 'disabled' if activity.task.liked_by_user }}>
                            {{ 'Liked' if activity.task.liked_by_user else 'Like' }}
                        </button>
                        <span id="like-count-{{ activity.task.id }}">{{ activity.task.likes | length }}</span>👍
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% if game %}
        <p><strong>Start Date:</strong> {{ game.start_date.strftime("%m-%d-%y") }}</p>
        <p><strong>End Date:</strong> {{ game.end_date.strftime("%m-%d-%y") }}</p>
        {% else %}
        <p>Game details are not available.</p>
        {% endif %}

        <div class="game-item">
            {% if has_joined %}
            <p id="total-points">Your Total Completed Points: {{ total_points }}</p>
            <p>
                {% if current_user.is_admin %}
                <a href="{{ url_for('tasks.manage_game_tasks', game_id=game.id) }}" class="button" style="margin-left: 10px;">Configure Tasks</a>
                <a href="{{ url_for('badges.manage_badges', game_id=game.id) }}" class="button" style="margin-left: 10px;">Configure Badges</a>
                {% endif %}
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Badge</th>
                        <th>Task</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td class="disabled-checkbox">
                            <input type="checkbox" disabled {{ 'checked' if task.total_completions > 0 else '' }}>
                            <span class="checkbox-custom"></span> <!-- This span acts as the visual element for the checkbox -->
                        </td>
                        <td>
                            {% if task.badge %}
                            {% if task.badge.image %}
                            <img src="{{ url_for('static', filename='images/badge_images/' + task.badge.image) }}" alt="Badge" class="badge-image">
                            {% endif %}
                            {% else %}
                            None
                            {% endif %}
                        </td>
                        <td>
                            <button class="button" onclick="openTaskDetailModal('{{ task.id }}')">{{ task.title }}</button>
                        </td>
                        <td>{{ task.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {});
        
        function showUserProfileModal(userId) {
            fetch(`/profile/${userId}`)
                .then(response => response.text())
                .then(html => {
                    const userProfileDetails = document.getElementById('userProfileDetails');
                    if (!userProfileDetails) {
                        console.error('User profile details container not found');
                        return;  // Exit if no container is found
                    }
                    userProfileDetails.innerHTML = html;
                    openModal('userProfileModal');
                })
                .catch(error => {
                    console.error('Failed to load user profile:', error);
                    alert('Could not load user profile. Please try again.');
                });
        }
        
        function likeMessage(messageId) {
            const likeButton = document.getElementById(`like-button-${messageId}`);
            const likeCount = document.getElementById(`like-count-${messageId}`);
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

            // Immediately disable the button to prevent multiple clicks
            likeButton.disabled = true;

            fetch(`/like-message/${messageId}`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken,
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // Update like count
                    likeCount.innerText = data.new_like_count;
                    
                    // Update button text and style as needed
                    likeButton.innerText = 'Liked';
                    
                    // Keep the button disabled to reflect that the like action is complete
                    likeButton.disabled = true;
                } else {
                    // Optional: Handle cases where the like wasn't successful or was a duplicate
                    // For duplicate likes, the button can remain disabled or provide feedback
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Re-enable the button in case of error to allow retrying
                likeButton.disabled = false;
            });
        }

        function likeTask(taskId) {
            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
            const likeButton = document.getElementById(`like-button-${taskId}`);
            const likeCountSpan = document.getElementById(`like-count-${taskId}`);

            // Check if the button is already disabled to prevent multiple submissions
            if (likeButton.disabled) {
                return;
            }

            // Immediately disable the button to prevent multiple clicks
            likeButton.disabled = true;

            fetch(`/like_task/${taskId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': csrfToken,
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    likeButton.textContent = 'Liked';
                    let likeCount = parseInt(likeCountSpan.textContent) || 0;
                    likeCountSpan.textContent = likeCount + 1;
                    likeButton.classList.add('liked-button-style');
                } else {
                    // Handle already liked status
                    likeButton.textContent = 'Liked';
                    alert('Already liked');
                }
            })
            .catch(error => {
                console.error('Error liking the task:', error);
                likeButton.disabled = false;  // Re-enable the button in case of error to allow retrying
            });
        }

    </script>
{% include 'modals/task_detail_modal.html' %}
{% include 'modals/submission_detail_modal.html' %}
{% include 'modals/user_profile_modal.html' %}

<script src="{{ url_for('static', filename='js/modal_handlers.js') }}"></script>
{% endblock %}
