{% extends "layout.html" %}

{% block content %}
<div class="container">
    {% if not current_user.is_authenticated %}
    <div class="welcomeImage">
        <img src="{{ url_for('static', filename='images/welcomeQuestByCycle.png') }}" alt="Welcome to Bike Hunt" style="max-width: 600px; max-height: 300px;">
    </div>
    <div class="introduction">
        <strong><p>QuestByCycle is a community-wide motivational game designed to encourage cycling and outdoor activities. Participants can join the game, complete tasks, and earn points/”reduce carbon” in the atmosphere to climb up the leaderboard. It's a fun way to stay active, explore your surroundings, and connect with fellow cycling enthusiasts.</p></strong>
    </div>
    {% endif %}
    <div class="content-flex-container">
        <div class="game-item">

            {% if not current_user.is_authenticated %}
                <div class="welcomeMedia">
                    <video src="{{ url_for('static', filename='videos/welcomeQuestByCycle.mp4') }}" autoplay loop controls style="max-width: 600px; max-height: 300px;"></video>
                </div>
            {% else %}
                <div class="bottom-half" style="text-align: center">
                    <img src="{{ url_for('static', filename='images/welcomeQuestByCycle.png') }}" alt="Quest by Cycle">
                </div>
            {% endif %}
            <div class="top-half">
                <div id="taskImageCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in carousel_images %}
                        <div class="carousel-item{% if loop.first %} active{% endif %}" style="height: 300px;">
                            <img src="{{ url_for('static', filename=image) }}" class="d-block w-100 h-100" alt="Carousel Image" style="height: 300px; width: 100%; object-fit: cover;">
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#taskImageCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#taskImageCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="game-item">
            {% if profile %}
                <div id="profileDisplay">
                    <form id="editProfileForm" method="post" enctype="multipart/form-data" style="display: none;">
                        {{ form.hidden_tag() }}
                        <p><img id="profileImageDisplay" src="{{ url_for('static', filename=current_user.profile_picture or 'images/default_profile_picture.png') }}" alt="Profile Picture" class="profile-image"></p>
                        <p><strong>Profile Photo: </strong><input type="file" name="profile_picture" onchange="previewFile()"></p>
                        <p><strong>Player/Team Name: </strong><input type="text" name="display_name" placeholder="Player/Team Name" value="{{ profile.display_name }}"></p>
                        <p><strong>Age Group: </strong><input type="text" name="age_group" placeholder="Age Group" value="{{ profile.age_group }}"></p>
                        <p><strong>Interests: </strong><input type="text" name="interests" placeholder="Interests" value="{{ profile.interests }}"></p>
                        <button type="submit" class="button">Save Profile</button>
                    </form>
                    <div id="profileView">
                        <img src="{{ url_for('static', filename=profile.profile_picture or 'images/default_profile_picture.png') }}" alt="Profile Picture" class="profile-image">
                        <p><strong>Name:</strong> {{ profile.display_name }}</p>
                        <p id="total-points"><strong>Your Total Completed Points:</strong> {{ total_points }}</p>
                        <p><strong>Interests:</strong> {{ profile.interests }}</p>
                    </div>
                </div>

                <div>
                    <p><strong>Badges Earned:</strong></p>
                    <ul>
                        {% for badge in badges %}
                        <li>
                            {{ badge.name }} -
                            {% if badge.image %}
                            <img src="{{ url_for('static', filename='images/badge_images/' + badge.image) }}" alt="{{ badge.name }}" class="badge-image-pri-pro">
                            {% else %}
                            <img src="{{ url_for('static', filename='images/badge_images/default_badge.png') }}" alt="Default Badge" class="badge-image-pri-pro">
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <div style="text-align: center">
                        <a href="{{ url_for('main.game_info') }}" class="button">Game Info</a>
                        <button id="editProfileBtn" onclick="toggleEditProfile()" class="button">Edit Profile</button>
                        <a href="{{ url_for('auth.logout') }}" class="button">Logout</a>
                    </div>
                </div>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <div id="profileView">
                <img src="{{ url_for('static', filename=profile.profile_picture or 'images/default_profile_picture.png') }}" alt="Profile Picture" class="profile-image">
                <p><strong>Name:</strong></p>
                <p id="total-points"><strong>Your Total Completed Points:</strong></p>
                <p><strong>Email:</strong></p>
                <p><strong>Age Group:</strong></p>
                <p><strong>Interests:</strong></p>
                <a href="{{ url_for('auth.login') }}" class="button" style="margin-left: 10px;">Login</a>
                <a href="{{ url_for('auth.register') }}" class="button" style="margin-left: 10px;">Register</a>
            {% endif %}
        </div>

    </div>
    <div class="shout-board-column">
        <h2>Current Activities</h2>
        <div class="game-item">
            {% if current_user.is_admin %}
            <form action="{{ url_for('main.shout_board') }}" method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.message(rows=1, placeholder="Write a message...") }}
                </div>
                {{ form.submit() }}
            </form>
            {% endif %}
            <div class="shout-messages" style="height: 400px; overflow-y: scroll; border: 1px solid #ccc; padding: 10px;">
                {% for activity in activities %}
                <div class="activity{% if activity.is_pinned %} pinned{% endif %}" style="display: flex; align-items: center; margin-bottom: 10px;">
                    {% if activity.__tablename__ == 'shout_board_message' %}
                    <strong style="margin-right: 10px;">
                        {{ activity.timestamp.strftime('%m-%d %H:%M') }} - 
                        <a href="javascript:void(0)" onclick="showUserProfileModal('{{ activity.user.id }}')">
                            {{ activity.user.display_name or activity.user.username }}
                        </a>
                    </strong>
                    <span style="flex-grow: 1;">{{ activity.message | safe }}</span>
                    {% if current_user.is_admin %}
                    <form action="{{ url_for('main.pin_message', message_id=activity.id) }}" method="post" style="margin-left: 10px;">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="blue_button">{{ 'Unpin' if activity.is_pinned else 'Pin' }}</button>
                    </form>
                    {% endif %}
                    <button type="button" class="blue_button" id="like-button-{{ activity.id }}" onclick="likeMessage('{{ activity.id }}')">
                        {{ 'Liked' if activity.liked_by_user else 'Like' }}
                    </button>
                    <span id="like-count-{{ activity.id }}">{{ activity.likes.count() }}</span>👍
                    {% elif activity.__tablename__ == 'user_tasks' %}
                    <strong style="margin-right: 10px;">
                        {{ activity.completed_at.strftime('%m-%d %H:%M') }} -
                        <a href="javascript:void(0)" onclick="showUserProfileModal('{{ activity.user.id }}')">
                            {{ activity.user.display_name or activity.user.username }}
                        </a>
                    </strong>
                    <span style="flex-grow: 1;">
                        <strong style="margin-right: 10px;">
                            completed a task
                            <a href="javascript:void(0);" onclick="openTaskDetailModal('{{ activity.task.id }}')">
                                 {{ activity.task.title }}
                            </a>
                        </strong>
                    </span>
                    <button class="blue_button" id="like-button-{{ activity.task.id }}" onclick="likeTask('{{ activity.task.id }}');" class="{{ 'liked-button-style' if activity.task.liked_by_user else '' }}" {{ 'disabled' if activity.task.liked_by_user }}>
                        {{ 'Liked' if activity.task.liked_by_user else 'Like' }}
                    </button>
                    <span id="like-count-{{ activity.task.id }}">{{ activity.task.likes | length }}</span>👍
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
    <div class="game-item">
        {% if has_joined %}
        <p>
            {% if current_user.is_admin %}
            <a href="{{ url_for('tasks.manage_game_tasks', game_id=game.id) }}" class="button" style="margin-left: 10px;">Configure Tasks</a>
            <a href="{{ url_for('badges.manage_badges', game_id=game.id) }}" class="button" style="margin-left: 10px;">Configure Badges</a>
            <a href="{{ url_for('admin.admin_dashboard') }}" class="button" style="margin-left: 10px;">Admin Dashboard</a>
            <button id="allSubmissionsButton" class="button" style="margin-left: 10px;">All Submissions</button>

            {% endif %}
            <button id="leaderboardButton" data-game-id="{{ game.id }}" class="button">View Leaderboard</button>
            <button id="submissionsButton" data-game-id="{{ game.id }}" class="button">Your Submissions</button>

        </p>

        <table class="table">
            <colgroup>
                <col style="width: 5%;"> <!-- Checkbox column -->
                <col style="width: 10%;"> <!-- Badge column -->
                <col style="width: auto;"> <!-- Task title, takes remaining space -->
                <col style="width: 10%;"> <!-- Points column -->
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th style="vertical-align: middle;  text-align: center;">Badge</th>
                    <th style="vertical-align: middle;   text-align: left;">Task</th>
                    <th style="padding-top: 0px; padding-bottom: 0px; text-align: center;">Carbon Reduction Points</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td class="disabled-checkbox">
                        <input type="checkbox" disabled {{ 'checked' if task.total_completions > 0 else '' }}>
                        <span class="checkbox-custom"></span> <!-- This span acts as the visual element for the checkbox -->
                    </td>
                    <td>
                        {% if task.badge %}
                        {% if task.badge.image %}
                        <img src="{{ url_for('static', filename='images/badge_images/' + task.badge.image) }}" alt="Badge" class="badge-image">
                        {% endif %}
                        {% else %}
                        None
                        {% endif %}
                    </td>
                    <td>
                        <button class="button" onclick="openTaskDetailModal('{{ task.id }}')">{{ task.title }}</button>
                    </td>
                    <td style="text-align: center;">{{ task.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<div id="game_IdHolder" data-game-id="{{ selected_game_id | safe }}" style="display:none;"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const userId = document.body.getAttribute('data-user-id'); // Get user ID from the body tag
        const leaderboardButton = document.getElementById('leaderboardButton');
        if (leaderboardButton) {
            leaderboardButton.addEventListener('click', function() {
                const gameId = this.getAttribute('data-game-id');
                showLeaderboardModal(gameId);
                updateMeter(gameId);
            });
        }

        const submissionsButton = document.getElementById('submissionsButton'); // Correct the typo here
        if (submissionsButton) {
            submissionsButton.addEventListener('click', function() {
                if (userId !== 'none') {
                    showMySubmissionsModal(userId);
                } else {
                    console.log('No user ID found or user not logged in');
                }
            });
        }

        const allSubmissionsButton = document.getElementById('allSubmissionsButton'); // Correct the typo here
        if (allSubmissionsButton) {
            allSubmissionsButton.addEventListener('click', function() {
                if (userId !== 'none') {
                    showAllSubmissionsModal(userId);
                } else {
                    console.log('No user ID found or user not logged in');
                }
            });
        }
    });

    document.getElementById('editProfileForm').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(this);
        fetch('{{ url_for("main.update_profile") }}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Profile updated successfully.');
                location.reload();  // Reload the page to reflect changes
            } else {
                alert('Failed to update profile.');
            }
        })
        .catch(error => alert('Error updating profile: ' + error));
    });

    function updateMeter() {
    const game_Id = document.getElementById('game_IdHolder').getAttribute('data-game-id');
    fetch(`games/get_game_points/${game_Id}`)
        .then(response => response.json())
        .then(data => {
            const totalPoints = data.total_game_points;
            const game_Goal = data.game_goal;
            const remainingPoints = game_Goal - totalPoints;
            const heightPercentage = Math.min((totalPoints / game_Goal) * 100, 100);
            document.getElementById('meterBar').style.height = heightPercentage + '%';
            document.documentElement.style.setProperty('--meter-fill-height', heightPercentage + '%');

            document.querySelector('.meter-label').innerText = `Remaining Reduction: ${remainingPoints} / ${game_Goal}`;
        })
        .catch(err => console.error('Failed to update meter:', err));
}

    function toggleEditProfile() {
        var form = document.getElementById('editProfileForm');
        var view = document.getElementById('profileView');
        var button = document.getElementById('editProfileBtn');

        if (form.style.display === 'none' || form.style.display === '') {
            form.style.display = 'block';
            view.style.display = 'none';
            button.textContent = 'Cancel Edit';
        } else {
            form.style.display = 'none';
            view.style.display = 'block';
            button.textContent = 'Edit Profile';
        }
    }

    function previewFile() {
        var preview = document.getElementById('profileImageDisplay');
        var file = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            if (preview) {
                preview.src = reader.result;
            }
        };

        if (file) {
            reader.readAsDataURL(file);
        } else if (preview) {
            preview.src = "{{ url_for('static', filename=current_user.profile_picture or 'images/default_profile_picture.png') }}";
        }
    }

    function likeMessage(messageId) {
        const likeButton = document.getElementById(`like-button-${messageId}`);
        const likeCount = document.getElementById(`like-count-${messageId}`);
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        // Immediately disable the button to prevent multiple clicks
        likeButton.disabled = true;

        fetch(`/like-message/${messageId}`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Update like count
                likeCount.innerText = data.new_like_count;
                
                // Update button text and style as needed
                likeButton.innerText = 'Liked';
                
                // Keep the button disabled to reflect that the like action is complete
                likeButton.disabled = true;
            } else {
                // Optional: Handle cases where the like wasn't successful or was a duplicate
                // For duplicate likes, the button can remain disabled or provide feedback
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Re-enable the button in case of error to allow retrying
            likeButton.disabled = false;
        });
    }

    function likeTask(taskId) {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const likeButton = document.getElementById(`like-button-${taskId}`);
        const likeCountSpan = document.getElementById(`like-count-${taskId}`);

        // Check if the button is already disabled to prevent multiple submissions
        if (likeButton.disabled) {
            return;
        }

        // Immediately disable the button to prevent multiple clicks
        likeButton.disabled = true;

        fetch(`/like_task/${taskId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRF-Token': csrfToken,
            },
            body: JSON.stringify({})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                likeButton.textContent = 'Liked';
                let likeCount = parseInt(likeCountSpan.textContent) || 0;
                likeCountSpan.textContent = likeCount + 1;
                likeButton.classList.add('liked-button-style');
            } else {
                // Handle already liked status
                likeButton.textContent = 'Liked';
                alert('Already liked');
            }
        })
        .catch(error => {
            console.error('Error liking the task:', error);
            likeButton.disabled = false;  // Re-enable the button in case of error to allow retrying
        });
    }

</script>
{% include 'modals/task_detail_modal.html' %}
{% include 'modals/submission_detail_modal.html' %}
{% include 'modals/user_profile_modal.html' %}
{% include 'modals/leaderboard_modal.html' %}
{% include 'modals/my_submissions_modal.html' %}
{% include 'modals/all_submissions_modal.html' %}


<script src="{{ url_for('static', filename='js/modal_handlers.js') }}"></script>
{% endblock %}