<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - QuestByCycle</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/katex.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/atom-one-dark.min.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/katex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</head>
<body data-user-id="{{ current_user.id if current_user.is_authenticated else 'none' }}">
    <div class="content-wrap">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
    <footer class="footer">
        <div class="footer-section text">
            <strong>Supporting cycling initiatives for a greener planet.</strong>
        </div>
        <div class="footer-content">
            <div class="footer-section logos">
                <p>Sponsored by</p>
                <a href="https://climaterevolutions.org" target="_blank">
                    <img src="{{ url_for('static', filename='images/climate-revolutions-logo.png') }}" alt="Climate Revolutions by Bike Logo" class="footer-logo">
                </a>
                <a href="https://www.350eugene.org/" target="_blank">
                    <img src="{{ url_for('static', filename='images/350EUG-logo.png') }}" alt="350Eugene Logo" class="footer-logo">
                </a>
                <a href="{{ url_for('admin.sponsors') }}" class="see-more">see more</a>
            </div>
            <div class="footer-section links">
                <a href="{{ url_for('auth.privacy_policy') }}">Privacy Policy</a>
                <a href="{{ url_for('auth.terms_of_service') }}">Terms of Service</a>
                <a href="{{ url_for('auth.license_agreement') }}">License Agreement</a>
            </div>
            <div class="footer-section social">
                <a href="https://twitter.com/QuestByCycle" target="_blank" class="social-link">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://facebook.com/QuestByCycle" target="_blank" class="social-link">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://instagram.com/QuestByCycle" target="_blank" class="social-link">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="footer-section legal">
            &copy; {{ current_year }} QuestByCycle. All rights reserved. 
        </div>
    </footer>
</body>
</html>
