{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="welcomeImage">
        <img src="{{ url_for('static', filename='images/leaderboardQuestByCycle.png') }}" alt="Bike Hunt Leaderboard" style="max-width: 600px; max-height: 200px;">
    </div>
    {% if games|length > 1 %}
    <form method="get" action="{{ url_for('main.leaderboard') }}">
        <div class="form-group">
            <label for="game_Select">Select Game:</label>
            <select name="game_id" id="game_Select" class="form-control" onchange="this.form.submit()">
                {% for game in games %}
                <option value="{{ game.id }}" {% if selected_game_id == game.id %}selected{% endif %}>{{ game.title }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
    {% endif %}
    <div class="game-item">
        <div class="leaderboard-container">
            <!-- Leaderboard Table -->
            <div class="leaderboard-table">
                {% if top_users %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Player</th>
                            <th>Carbon “Reduction” Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_id, username, total_points in top_users %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td><a href="javascript:void(0)" onclick="showUserProfileModal('{{ user_id }}')">{{ username }}</a></td>
                            <td>{{ total_points }}</td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="3">No players have scored yet in this game.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>Join an game to see the leaderboard!</p>
                {% endif %}
            </div>
            <!-- Group Completion Meter -->
            <div class="completion-meter-container">
                <div class="meter-label">Group Completion: {{ total_game_points }} / {{ game_goal }}</div>
                <div class="completion-meter">
                    <div class="meter-bar" id="meterBar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- User Profile Modal -->
<div id="userProfileModal" style="display:none;" class="modal">
    <div class="modal-content">
        <span class="close-button" onclick="closeModal()">&times;</span>
        <div id="userProfileContent">
            <!-- User profile details will be loaded here -->
        </div>
    </div>
</div>
<!-- Hidden div to store game ID -->
<div id="game_IdHolder" data-game-id="{{ selected_game_id | safe }}" style="display:none;"></div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        updateMeter();
        setInterval(updateMeter, 10000); // Update the meter every 5 seconds
    });
    
    function updateMeter() {
        const game_Id = document.getElementById('game_IdHolder').getAttribute('data-game-id');
        fetch(`games/get_game_points/${game_Id}`)
            .then(response => response.json())
            .then(data => {
                const totalPoints = data.total_game_points;
                const game_Goal = data.game_goal;
                const heightPercentage = (totalPoints / game_Goal) * 100;
                document.getElementById('meterBar').style.height = heightPercentage + '%';
                document.documentElement.style.setProperty('--meter-fill-height', heightPercentage + '%');

                document.querySelector('.meter-label').innerText = `Group Completion: ${totalPoints} / ${game_Goal}`;
            })
            .catch(err => console.error('Failed to update meter:', err));
    }
    
    function showUserProfileModal(userId) {
        fetch(`/profile/${userId}`)
            .then(response => response.text())
            .then(html => {
                document.getElementById('userProfileContent').innerHTML = html;
                document.getElementById('userProfileModal').style.display = 'block';
            })
            .catch(err => console.error('Failed to load user profile:', err));
    }
    
    function closeModal() {
       document.getElementById('userProfileModal').style.display = 'none';
    }
</script>
{% endblock %}