{% extends "layout.html" %}

{% block content %}
<h1>License Agreement for Quest by Cycle</h1>

1. Grant of License
Denuo Web, LLC, grants you, the user, a non-exclusive, non-transferable, limited right to access, use and display the content and services offered on https://QuestByCycle.org ("Website") subject to your compliance with these terms.
2. Intellectual Property
All content present on this Website, including graphics, text, images, software, and the underlying code, is owned by Denuo Web, LLC. The content is protected under the copyright laws of the United States and international treaties. Any unauthorized use of the content may violate copyright laws, trademark laws, and other regulations.
3. Restrictions
You are prohibited from:
Modifying, translating, selling, reverse engineering, decompiling, or disassembling the Website or its content.
Using the Website for any commercial purpose or for the benefit of any third party in any manner not permitted by this Agreement.
4. Termination
This license may be terminated by Denuo Web, LLC at any time without notice, with or without cause. Upon termination, you must destroy all copies of materials obtained from this Website.

{% endblock %}