{% extends "layout.html" %}

{% block content %}
    <div id="eventData" data-event-id="{{ event.id }}"></div>
    <div class="container">
        <h2>Manage Tasks for "{{ event.title }}"</h2>
        
        <a href="{{ url_for('tasks.add_task', event_id=event.id) }}" class="button">Add Task</a>
    
        <!-- Add a section for importing tasks from a CSV file -->
        <div class="import-tasks-form">
            <h3>Import Tasks from CSV</h3>
            <form id="importTasksForm" method="post" enctype="multipart/form-data">
                <input type="file" name="tasks_csv" accept=".csv">
                <button type="button" onclick="importTasks()">Import</button>
            </form>
    
        </div>
        <!-- Existing Tasks List -->
        <div id="tasksList" class="tasks-section">
            <h3>Existing Tasks</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Tips</th>
                        <th>Points</th>
                        <th>Completion Limit</th>
                        <th>Enabled</th>
                        <th>Verification Type</th>
                        <th>Badge Name</th>
                        <th>Frequency</th> <!-- New column for Frequency -->
                        <th>Category</th> <!-- New column for Category -->
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="tasksBody">
                    <!-- This section will be filled dynamically with JavaScript -->
                </tbody>
            </table>
        </div>
    </div>
    <script>
        const eventId = document.getElementById('eventData').dataset.eventId;
        const VerificationTypes = {
            NOT_APPLICABLE: "Not Applicable",
            QR_CODE: "QR Code",
            PHOTO_UPLOAD: "Photo Upload",
            DESTRUCTION_PHOTO: "Destruction Photo",
            SELFIE: "Selfie",
            SCREENSHOT: "Screenshot",
            COMMENT: "Comment",
            PHOTO_COMMENT: "Photo Upload and Comment",
            MANUAL_REVIEW: "Manual Review",
            YOUTUBE_URL: "Youtube URL",
            URL: "URL"
        };
        document.addEventListener('DOMContentLoaded', async function() {
            await loadBadges();
            loadTasks(eventId);
        });

        async function loadBadges() {
            try {
                const response = await fetch('/badges/badges');
                if (!response.ok) throw new Error('Failed to fetch badges');
                const data = await response.json();
                // Assuming the endpoint returns an object with a badges array
                badges = data.badges || [];
            } catch (error) {
                console.error('Error fetching badges:', error);
            }
        }

        function addTask() {
            // Collect task data from form
            const formData = new FormData(document.getElementById('addTaskForm'));
            
            fetch(`/tasks/event/${eventId}/add_task`, { // Make sure 'eventId' is defined or fetched appropriately
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    loadTasks(); // Reload tasks to include the new one
                } else {
                    alert('Failed to add task');
                }
            })
            .catch(error => console.error('Error:', error));
        }
               
        function editTask(taskId) {
            const row = document.querySelector(`#task-${taskId}`);
            if (!row) {
                console.error(`Row for taskId ${taskId} not found.`);
                return;
            }

            const frequencyElement = row.querySelector('.editable[data-name="frequency"]');
            if (!frequencyElement) {
                console.error(`Frequency element not found for taskId: ${taskId}.`);
                return;
            }

            // Extract the current frequency value from the element's data-value attribute.
            let currentFrequencyValue = frequencyElement.getAttribute('data-value');

            // Define the mapping for frequency values to their display text.
            const frequencyOptions = {
                daily: 1,
                weekly: 2,
                monthly: 3,
            };

            // Generate the HTML for the frequency select element, marking the current value as selected.
            let frequencySelectHTML = '<select name="frequency" class="editable-select">';
            for (const [text, value] of Object.entries(frequencyOptions)) {
                let isSelected = currentFrequencyValue == text ? 'selected' : '';
                frequencySelectHTML += `<option value="${value}" ${isSelected}>${text.charAt(0).toUpperCase() + text.slice(1)}</option>`;
            }
            frequencySelectHTML += '</select>';

            frequencyElement.innerHTML = frequencySelectHTML;

            const badgeCell = row.querySelector('.editable[data-name="badge_name"]');
            if (badgeCell) {
                let currentBadgeName = badgeCell.innerText.trim();
                let badgeSelectHTML = '<select name="badge_id" class="editable-select">';
                // Add an option for no badge selected
                badgeSelectHTML += `<option value="">None</option>`;

                badges.forEach(badge => {
                    let isSelected = currentBadgeName === badge.name ? 'selected' : '';
                    badgeSelectHTML += `<option value="${badge.id}" ${isSelected}>${badge.name}</option>`;
                });
                badgeSelectHTML += '</select>';
                badgeCell.innerHTML = badgeSelectHTML;
            } else {
                console.error(`Badge element not found for taskId: ${taskId}.`);
            }

            // Define editable fields with their corresponding input types or options for select elements
            const editableFields = [
                { name: "title", type: "text" },
                { name: "description", type: "textarea" },
                { name: "tips", type: "textarea" },
                { name: "points", type: "number" },
                { name: "completion_limit", type: "number" },
                { name: "frequency", type: "select", options: ["Daily", "Weekly", "Monthly"] }, // Assuming these are the display values used in your HTML
                { name: "category", type: "text" },
                { name: "enabled", type: "select", options: ["Yes", "No"] }, // Display values for boolean field
                { name: "verification_type", type: "select", options: Object.keys(VerificationTypes), displayValues: Object.values(VerificationTypes) },
            ];
            
            // Iterate over each editable field to dynamically create the input element
            editableFields.forEach(field => {
                const cell = row.querySelector(`.editable[data-name="${field.name}"]`);
                if (!cell) return; // Skip if the cell doesn't exist for some reason

                const currentValue = cell.innerText.trim();
                let inputElement;

                if (field.type === "select") {
                    inputElement = document.createElement("select");
                    inputElement.name = field.name;

                    field.options.forEach((option, index) => {
                        const optionElement = document.createElement("option");
                        optionElement.value = option;
                        optionElement.text = field.displayValues ? field.displayValues[index] : option; // Use display values if provided
                        if (currentValue === optionElement.text) {
                            optionElement.selected = true;
                        }
                        inputElement.appendChild(optionElement);
                    });
                } else if (field.type === "textarea") {
                    inputElement = document.createElement("textarea");
                    inputElement.name = field.name;
                    inputElement.value = currentValue;
                } else { // Handle text and number inputs
                    inputElement = document.createElement("input");
                    inputElement.type = field.type;
                    inputElement.name = field.name;
                    inputElement.value = currentValue;
                }

                // Replace the cell's content with the new input element
                cell.innerHTML = '';
                cell.appendChild(inputElement);
            });

            // Updating the edit button to a save button and setting its click event to call saveTask
            const editButton = row.querySelector(".edit-button");
            editButton.innerText = "Save";
            editButton.onclick = () => saveTask(taskId);
        }


        function saveTask(taskId) {
            const row = document.querySelector(`#task-${taskId}`);
            let taskData = {}; 
            
            // Collect inputs, selects, and textarea values
            row.querySelectorAll('input, select, textarea').forEach(input => {  // Fixed line
                let value = input.value;
                if (input.name === 'enabled') {
                    value = input.value === 'Yes'; // This will be true for "Yes", false for anything else
                } else if (input.name === 'badge_id' && value === '') {
                    value = null; // Convert empty string to null for badge_id
                }

                taskData[input.name] = value;
            });

            fetch(`/tasks/task/${taskId}/update`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json', // Ensuring JSON Content-Type
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                },
                body: JSON.stringify(taskData),  // Adjusted to directly use taskData object
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Task updated successfully.');
                    loadTasks(eventId);
                } else {
                    alert('Failed to update task. Error: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error updating task:', error);
                alert('Error updating task. Please check console for details.');
            });
        }


        function loadTasks(eventId) {
            fetch(`/tasks/event/${eventId}/tasks`, {
                method: 'GET',
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                const tasksBody = document.getElementById('tasksBody');
                tasksBody.innerHTML = ''; // Clear the table before adding new rows

                data.tasks.forEach(task => {
                    const row = document.createElement('tr');
                    row.id = `task-${task.id}`;

                    const verificationTypeText = VerificationTypes[task.verification_type] || 'Not Applicable';
                    const badgeName = task.badge_name || 'None';
                    const frequencyDisplayText = task.frequency ? task.frequency.toUpperCase() : 'Not Set';
                    const categoryText = task.category || 'Not Set';

                    row.innerHTML = `
                        <td class="editable" data-name="title">${task.title}</td>
                        <td class="editable" data-name="description">${task.description}</td>
                        <td class="editable" data-name="tips">${task.tips || ''}</td>
                        <td class="editable" data-name="points">${task.points}</td>
                        <td class="editable" data-name="completion_limit">${task.completion_limit}</td>
                        <td class="editable" data-name="enabled">${task.enabled ? 'Yes' : 'No'}</td>
                        <td class="editable" data-name="verification_type" data-value="${task.verification_type}">${verificationTypeText}</td>
                        <td class="editable" data-name="badge_name">${badgeName}</td>
                        <td class="editable" data-name="frequency" data-value="${task.frequency || ''}">${frequencyDisplayText}</td>
                        <td class="editable" data-name="category">${categoryText}</td>
                        <td>
                            <button class="edit-button" onclick="editTask(${task.id})">Edit</button>
                            <button onclick="deleteTask(${task.id})">Delete</button>
                            <button onclick="generateQRCode(${task.id})">Generate QR Code</button>
                        </td>
                    `;

                    tasksBody.appendChild(row);
                });
            })
            .catch(error => console.error('Failed to load tasks:', error));
        }


        // Function for deleting a task
        function deleteTask(taskId) {
            fetch(`/tasks/task/${taskId}/delete`, {  // Use the correct path for your DELETE endpoint
                method: 'DELETE',
                headers: {
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    'Accept': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) throw new Error('Failed to delete task');
                return response.json();
            })
            .then(data => {
                if (data.success) {
                    alert('Task deleted successfully');
                    loadTasks(eventId);  // Reload tasks
                } else {
                    alert(`Failed to delete task: ${data.message}`);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Failed to delete task. Please check the console for more details.');
            });
        }

        function importTasks() {
            const form = document.getElementById('importTasksForm');
            const formData = new FormData(form);
            
            fetch(`/tasks/event/${eventId}/import_tasks`, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                    'Accept': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (data.success && data.redirectUrl) {
                    alert('Tasks imported successfully');
                    loadTasks(eventId); // Reload the tasks list
                } else {
                    alert('Failed to import tasks: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error importing tasks:', error);
            });
        }
        
        function generateQRCode(taskId) {
            // Assuming you have an endpoint that generates and sends a QR code image
            const url = `/tasks/generate_qr/${taskId}`;
            fetch(url)
            .then(response => {
                if (!response.ok) throw new Error('Failed to generate QR code');
                return response.blob();
            })
            .then(blob => {
                const imageUrl = URL.createObjectURL(blob);
                const win = window.open();
                win.document.write('<img src="' + imageUrl + '" style="width: auto; height: auto;"/>');
            })
            .catch(error => {
                console.error('Error generating QR code:', error);
                alert('Failed to generate QR code. Please check console for more details.');
            });
        }
    </script>
        
{% endblock %}