{% extends "layout.html" %}

{% block content %}
<div class="container">
    <a href="{{ url_for('admin.admin_dashboard') }}" class="button">Back to Dashboard</a>
    <h2>Upload Badge Images</h2>
    <form id="uploadForm" method="post" enctype="multipart/form-data" action="/badges/upload_images">
        {{ form.hidden_tag() }}
        <input type="file" id="imageUpload" name="file" class="button" multiple webkitdirectory>
        <button type="submit" class="button">Upload Images</button>
    </form>

    <p><h2>Add (Category) Badge</h2></p>

    <div class="badge-form">
        <form action="{{ url_for('badges.manage_badges') }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label }} {{ form.name() }}
            </div>
            <div class="form-group">
                {{ form.description.label }} {{ form.description() }}
            </div>
            <div class="form-group">
                {{ form.category.label }} {{ form.category() }}
            </div>
            <div class="form-group">
                {{ form.image.label }} {{ form.image() }}

            </div>
            {{ form.submit() }}
        </form>
    </div>

    <div class="badges-list">
        <h3>Existing Badges</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="badgesBody">
                {% for badge in badges %}
                <tr>
                    <td>
                        {% if badge.image %}
                        <img src="{{ url_for('static', filename=badge.image) }}" alt="{{ badge.name }}" height="50" loading="lazy">
                        {% else %}
                        No Image
                        {% endif %}
                    </td>
                    <td>{{ badge.name }}</td>
                    <td>{{ badge.description }}</td>
                    <td>{{ badge.category}}</td> <!-- Display the category -->
                    <td>
                        <button class="edit-badge" data-badge-id="{{ badge.id }}" onclick="editBadge('{{ badge.id }}')">Edit</button>
                        <button onclick="deleteBadge('{{ badge.id }}')">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadBadges();
    });
    
    function loadBadges() {
        fetch('/badges/badges')
            .then(response => response.json())
            .then(data => {
                const badgesBody = document.getElementById('badgesBody');
                badgesBody.innerHTML = '';
                data.badges.forEach(badge => {
                    const row = document.createElement('tr');
                    row.setAttribute('data-badge-id', badge.id);

                    const imageHTML = badge.image ? `<img src="${badge.image}" height="50" alt="Badge Image">` : 'No Image';

                    row.innerHTML = `
                        <td class="badge-image-manage">${imageHTML}</td>
                        <td class="badge-name">${badge.name}</td>
                        <td class="badge-description">${badge.description}</td>
                        <td class="badge-category">${badge.category}</td>
                        <td>
                            <button class="edit-badge" onclick="editBadge(${badge.id})">Edit</button>
                            <button onclick="deleteBadge(${badge.id})">Delete</button>
                        </td>
                    `;
                    badgesBody.appendChild(row);
                });
            })
            .catch(error => console.error('Failed to load badges:', error));
    }

    
    // Global variable to store category options to prevent multiple API calls
    let globalCategoriesOptions = null;

    function loadCategories() {
        if (!globalCategoriesOptions) { // If not already loaded
            return fetch('/badges/categories')
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.json();
                })
                .then(categories => {
                    globalCategoriesOptions = categories.map(category => 
                        `<option value="${category}">${category}</option>`
                    ).join('');
                    return globalCategoriesOptions;
                });
        } else {
            // Immediately resolve with cached categories if already loaded
            return Promise.resolve(globalCategoriesOptions);
        }
    }

    function setCategoryOptions(selectedCategory) {
        return loadCategories().then(optionsHtml => {
            const selectHtml = `<select class="form-control badge-category-select">${optionsHtml}</select>`;
            return selectHtml.replace(
                `value="${selectedCategory}"`, 
                `value="${selectedCategory}" selected`
            );
        });
    }

    function editBadge(badgeId) {
        const row = document.querySelector(`tr[data-badge-id='${badgeId}']`);
        if (!row) {
            console.error(`Badge row with ID ${badgeId} not found.`);
            return;
        }
        const nameCell = row.querySelector('.badge-name');
        const descriptionCell = row.querySelector('.badge-description');
        const categoryCell = row.querySelector('.badge-category');
        const imageCell = row.querySelector('.badge-image img');

        nameCell.innerHTML = `<input type="text" value="${nameCell.innerText.trim()}" class="form-control badge-name-input">`;
        descriptionCell.innerHTML = `<textarea class="form-control badge-description-textarea">${descriptionCell.innerText.trim()}</textarea>`;
        imageCell.parentNode.innerHTML = `<input type="file" class="form-control-file badge-image-input">`;

        setCategoryOptions(categoryCell.innerText.trim()).then(categoryHtml => {
            categoryCell.innerHTML = categoryHtml;
            const editButton = row.querySelector(`button.edit-badge`);
            editButton.innerText = 'Save';
            editButton.onclick = () => saveBadge(badgeId);
        });
    }

    function saveBadge(badgeId) {
        const row = document.querySelector(`tr[data-badge-id='${badgeId}']`);
        const formData = new FormData();
        formData.append('name', row.querySelector('.badge-name-input').value);
        formData.append('description', row.querySelector('.badge-description-textarea').value);
        formData.append('category', row.querySelector('.badge-category-select').value);
        const imageInput = row.querySelector('.badge-image-input');
        if (imageInput.files.length > 0) {
            formData.append('image', imageInput.files[0]);
        }

        fetch(`/badges/update/${badgeId}`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
        }).then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Badge updated successfully');
                window.location.reload();
            } else {
                alert('Failed to update badge: ' + data.message);
            }
        })
        .catch(error => console.error('Error updating badge:', error));
    }
    

    function deleteBadge(badgeId) {
        if (!confirm("Are you sure you want to delete this badge?")) return;

        fetch(`/badges/delete/${badgeId}`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                window.location.reload();
            } else {
                alert(`Failed to delete badge: ${data.message}`);
            }
        })
        .catch(error => {
            console.error('Error deleting badge:', error);
            alert('Error deleting badge. Please check console for details.');
        });
    }

    function uploadImages() {
        const formData = new FormData(document.getElementById('uploadForm'));
        fetch('/badges/upload_images', {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Images uploaded successfully');
            } else {
                alert('Failed to upload images: ' + data.message);
            }
        })
        .catch(error => console.error('Error uploading images:', error));
    }
    </script>
{% endblock %}
