{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
    <h2>Register</h2>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div>
            {{ form.confirm_password.label }} {{ form.confirm_password() }}
        </div>
        <div>
            {{ form.accept_tos() }} {{ form.accept_tos.label }}
            <a href="{{ url_for('auth.terms_of_service') }}">Terms of Service</a>
        </div>
        <div>
            {{ form.accept_privacy() }} {{ form.accept_privacy.label }}
            <a href="{{ url_for('auth.privacy_policy') }}">Privacy Policy</a><br>
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
</div>
{% endblock %}
