<!-- templates/register.html -->
{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container">
        <!-- Display Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <h2>Register</h2>
    <form method="post" action="{{ url_for('auth.register', game_id=request.args.get('game_id'), task_id=request.args.get('task_id'), next=request.args.get('next')) }}">
        {{ form.hidden_tag() }}
        <div>
            {{ form.email.label }} {{ form.email() }}
        </div>
        <div>
            {{ form.password.label }} {{ form.password() }}
        </div>
        <div>
            {{ form.confirm_password.label }} {{ form.confirm_password() }}
        </div>
        <div>
            {{ form.accept_license() }} {{ form.accept_license.label }}
            <a href="{{ url_for('auth.terms_of_service') }}">Terms of Service</a> and <a href="{{ url_for('auth.privacy_policy') }}">Privacy Policy</a>
        </div>
        <div>
            {{ form.submit() }}
        </div>
        <a href="{{ url_for('main.index') }}" class="button">Back to Home</a>
    </form>
    
</div>
{% endblock %}
