{% extends "layout.html" %}

{% block content %}

<h1>Terms of Service for Quest by Cycle</h1>
<p>These Terms of Service ("Terms") govern your access to and use of the Quest by Cycle website and services ("Service"), operated by Denuo Web, LLC ("we", "us", or "our"). By accessing or using the Service, you agree to be bound by these Terms. If you do not agree to all of these Terms, do not access or use the Service.</p>
<h2>1. Eligibility</h2>
<p>You must be at least 18 years old to use the Service, or, if you are between the ages of 13 and 18, you must have your parent or guardian’s permission to use the Service. By agreeing to these Terms, you represent and warrant to us that: (a) you are at least 18 years old or have your parent or guardian’s permission, (b) you have the legal capacity to enter into a binding contract, and (c) you are not barred from using the Service under applicable law.</p>
<h2>2. Service Provision</h2>
<p>We reserve the right to enhance, modify, or discontinue any aspect of the Service at any time. We will endeavor to notify you of any significant changes to the Service that could adversely affect your use.</p>
<h2>3. User Accounts</h2>
<p>When you create an account with us, you must provide accurate and complete information. You are solely responsible for the activities that occur on your account, and you must keep your account password secure. We encourage you to use "strong" passwords. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
<h2>4. License to Use the Service</h2>
<p>Subject to your compliance with these Terms, we grant you a limited, non-exclusive, non-transferable, and revocable license to access and use the Service. This license is granted solely to allow you to use and enjoy the benefit of the Service as provided by us, in the manner permitted by these Terms.</p>
<h2>5. Content and Content Rights</h2>
<p>For purposes of these Terms, “Content” includes text, graphics, images, music, software, audio, video, information, or other materials. We own all proprietary and intellectual property rights in the Service and Content, excluding the Content you provide.</p>
<h2>6. Content You Provide</h2>
<p>You are responsible for the Content that you post to the Service, including its legality, reliability, and appropriateness. By posting Content to the Service, you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through the Service. You retain any and all of your rights to any Content you submit, post, or display on or through the Service and you are responsible for protecting those rights.</p>
<h2>7. Prohibited Conduct</h2>
<p>You agree not to engage in any of the following prohibited activities:</p>
<ul>
    <li>(i) copying, distributing, or disclosing any part of the Service in any medium, including without limitation by any automated or non-automated “scraping”;</li>
    <li>(ii) using any automated system, including without limitation “robots,” “spiders,” “offline readers,” etc., to access the Service;</li>
    <li>(iii) transmitting spam, chain letters, or other unsolicited email;</li>
    <li>(iv) attempting to interfere with, compromise the system integrity or security, or decipher any transmissions to or from the servers running the Service;</li>
    <li>(v) taking any action that imposes, or may impose at our sole discretion an unreasonable or disproportionately large load on our infrastructure;</li>
    <li>(vi) uploading invalid data, viruses, worms, or other software agents through the Service;</li>
    <li>(vii) collecting or harvesting any personally identifiable information, including account names, from the Service;</li>
    <li>(viii) using the Service for any commercial solicitation purposes;</li>
    <li>(ix) impersonating another person or otherwise misrepresenting your affiliation with a person or entity, conducting fraud, hiding, or attempting to hide your identity;</li>
    <li>(x) interfering with the proper working of the Service;</li>
    <li>(xi) accessing any content on the Service through any technology or means other than those provided or authorized by the Service;</li>
    <li>(xii) bypassing the measures we may use to prevent or restrict access to the Service, including without limitation features that prevent or restrict use or copying of any content or enforce limitations on use of the Service or the content therein.</li>
</ul>
<h2>8. Changes to Terms</h2>
<p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</p>
<h2>9. Termination</h2>
<p>We may terminate or suspend your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms. All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability.</p>
<h2>10. Governing Law</h2>
<p>These Terms shall be governed and construed in accordance with the laws of the State of Oregon, United States, without regard to its conflict of law provisions. Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights.</p>
<h2>11. Feedback and Contact Information</h2>
<p>You are encouraged to provide feedback, comments, and suggestions for improvements to the Service. If you have any questions about these Terms, please contact us at info@questbycycle.org.</p>
<h2>Conclusion</h2>
<p>Your use of the Service confirms your acceptance of these Terms and your agreement to be bound by them. We appreciate your interest and support in Quest by Cycle and hope you find your experience rewarding and enjoyable.</p>

{% endblock %}
