{% extends "layout.html" %}

{% block content %}
<h1>Terms of Service for Quest by Cycle</h1>

1. Acceptance of Terms
By accessing and using https://QuestByCycle.org, you accept and agree to be bound by the terms and provision of this agreement. Additionally, when using this Website's particular services, you shall be subject to any posted guidelines or rules applicable to such services.
2. Limitation of Liability
Denuo Web, LLC shall not be liable for any direct, indirect, incidental, special, or consequential damages resulting from the use or the inability to use the Website or for the cost of procurement of substitute goods and services or resulting from any goods or services purchased or obtained or messages received or transactions entered into through the Website.
3. Disclaimer of Warranties
You expressly understand and agree that:
Your use of the Website is at your sole risk. The Website is provided on an "AS IS" and "AS AVAILABLE" basis. Denuo Web, LLC expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
Denuo Web, LLC makes no warranty that (i) the Website will meet your requirements, (ii) the Website will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the Website will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the Website will meet your expectations, and (v) any errors in the software will be corrected.
4. Dispute Resolution
Any disputes arising out of or related to these Terms of Service and/or any use by you of the Website shall be governed by the laws of the state of Oregon, without regard to its choice of law rules, and shall be exclusively resolved by a court of competent jurisdiction located in Oregon.
5. No Waiver
The failure of Denuo Web, LLC to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision.


{% endblock %}