{% extends "layout.html" %}

{% block title %}Update Game{% endblock %}

{% block content %}
<div class="container">
    <h1>Update Game</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="title">Game Title</label>
            {{ form.title(class_="form-control", id="title") }}
        </div>
        <div class="form-group">
            <label for="description">Game Description</label>
            {{ form.description(class_="form-control", id="description") }}
        </div>
        <div class="form-group">
            <label for="description2">Task Instructions</label>
            {{ form.description2(class_="form-control", id="description2") }}
        </div>
        <div class="form-group">
            <label for="start_date">Start Date</label>
            {{ form.start_date(class_="form-control", id="start_date") }}
        </div>
        <div class="form-group">
            <label for="end_date">End Date</label>
            {{ form.end_date(class_="form-control", id="end_date") }}
        </div>
        <div class="form-group">
            <label for="game_goal">Game Goal</label>
            {{ form.game_goal(class_="form-control", id="game_goal") }}
        </div>
        <div class="form-group">
            <label for="details">Game Details</label>
            {{ form.details(class_="form-control", id="details") }}
        </div>
        <div class="form-group">
            <label for="awards">Awards Information</label>
            {{ form.awards(class_="form-control", id="awards") }}
        </div>
        <div class="form-group">
            <label for="beyond">Beyond the Game</label>
            {{ form.beyond(class_="form-control", id="beyond") }}
        </div>
        <div class="form-group">
            <label for="is_public">Is Public</label>
            {{ form.is_public(class_="form-control", id="is_public") }}
        </div>
        <div class="form-group">
            <label for="allow_joins">Allow Joining</label>
            {{ form.allow_joins(class_="form-control", id="allow_joins") }}
        </div>
        <div class="form-group">
            <label for="custom_game_code">Custom Game Code</label>
            <input type="text" class="form-control" id="custom_game_code" name="custom_game_code" value="{{ form.custom_game_code.data }}" readonly>
        </div>
        <div class="form-group">
            <label for="twitter_username">Twitter Username</label>
            {{ form.twitter_username(class_="form-control", id="twitter_username") }}
        </div>
        <div class="form-group">
            <label for="twitter_api_key">Twitter API Key</label>
            {{ form.twitter_api_key(class_="form-control", id="twitter_api_key") }}
        </div>
        <div class="form-group">
            <label for="twitter_api_secret">Twitter API Secret</label>
            {{ form.twitter_api_secret(class_="form-control", id="twitter_api_secret") }}
        </div>
        <div class="form-group">
            <label for="twitter_access_token">Twitter Access Token</label>
            {{ form.twitter_access_token(class_="form-control", id="twitter_access_token") }}
        </div>
        <div class="form-group">
            <label for="twitter_access_token_secret">Twitter Access Token Secret</label>
            {{ form.twitter_access_token_secret(class_="form-control", id="twitter_access_token_secret") }}
        </div>
        <div class="form-group">
            <label for="facebook_app_id">Facebook App ID</label>
            {{ form.facebook_app_id(class_="form-control", id="facebook_app_id") }}
        </div>
        <div class="form-group">
            <label for="facebook_app_secret">Facebook App Secret</label>
            {{ form.facebook_app_secret(class_="form-control", id="facebook_app_secret") }}
        </div>
        <div class="form-group">
            <label for="facebook_access_token">Facebook Access Token</label>
            {{ form.facebook_access_token(class_="form-control", id="facebook_access_token") }}
        </div>
        <div class="form-group">
            <label for="facebook_page_id">Facebook Page ID</label>
            {{ form.facebook_page_id(class_="form-control", id="facebook_page_id") }}
        </div>
        <button type="submit" class="btn btn-primary">Update Game</button>
    </form>
</div>
{% endblock %}
